// Brand specific variables
@import 'brand.variables';

// @import core sass;
@import '../../../common/sass/01-settings/settings';
@import '../../../common/sass/02-tools/tools';
@import '../../../common/sass/03-generic/generic';
@import '../../../common/sass/04-elements/elements';
@import '../../../common/sass/05-objects/objects';
/* inject:imports */
/* endinject */
@import '../../../common/sass/07-trumps/trumps';





body {
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    background-image: url('https://www.rac.co.uk/images/EBC/ebc-winter-bkgd?height=800');
}

.page-section--inner{
    background-color: rgba(255,255,255, 0.85);
    padding-left: 2rem;
    padding-right: 2rem;
}
.page-section--outer{
    &.grey {
        background-color: transparent;
    }
}

.carousel__image {
    display: none;
}

.button {
    border-radius: 5px;
}

.page-footer {
    margin-top: 0;
    background-color: #222;
    border: none;
    font-weight: normal;
    * {
        color: white;
    }
}