// Brans Specific Variables


@font-face{
    font-family:"Roboto";
    src:url("../fonts/Roboto-Regular.ttf");
    font-weight:normal;
}

@font-face{
    font-family:"Roboto";
    src:url("../fonts/Roboto-Bold.ttf");
    font-weight:bold;
}

@font-face{
    font-family:"Roboto";
    src:url("../fonts/Roboto-Medium.ttf");
    font-weight:600;
}

@font-face{
    font-family:"Roboto";
    src:url("../fonts/Roboto-Light.ttf");
    font-weight:300;
}

@font-face{
    font-family:"Roboto";
    src:url("../fonts/Roboto-Italic.ttf");
    font-weight:normal;
    font-style: italic;
}

@font-face{
    font-family:"Roboto";
    src:url("../fonts/Roboto-BoldItalic.ttf");
    font-weight:bold;
    font-style: italic;
}

@font-face{
    font-family:"Roboto";
    src:url("../fonts/Roboto-LightItalic.ttf");
    font-weight:300;
    font-style: italic;
}

@font-face{
    font-family:"Roboto";
    src:url("../fonts/Roboto-MediumItalic.ttf");
    font-weight:600;
    font-style: italic;
}


$font-family-base:          'Roboto';

$color-primary:             #6859A3;
$color-secondary:           #44C0FF;
$color-tertiary:            #4CB7B5; 
$color-font:                #4A4A4A;
$color-font--light:         #979797;
$color-primary--light:      #DEDBEA;
$color-secondary--light:    #DEDBEA;
$color-primary--dark:       #332763;
