@import '../01-settings/settings';
@import '../02-tools/tools';


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: ( $spacing-unit / 2 );
    line-height: 1.25;
    font-weight: 700;
}

p {
	margin: 0;
	margin-bottom: ( $spacing-unit / 2 );
}

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: ( $spacing-unit / 2 );
}

blockquote {
	margin: 0;
	margin-bottom: ( $spacing-unit / 2 );
}


pre {
    // Remove browser default top margin
    margin-top: 0;
    // Reset browser default of `1em` to use `rem`s
	margin-bottom: ( $spacing-unit / 2 );
}

// todo: needed?
output {
    display: inline-block;
    //  font-size: $font-size-base;
    //  line-height: $line-height;
    //  color: $input-color;
}