@import '../01-settings/settings';
@import '../02-tools/tools';


a {
    color: $link-color;
    text-decoration: $link-decoration;
    &:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
}