@import '../01-settings/settings';
@import '../02-tools/tools';

body {
	font-family: $font-family-base;
	@include font-size($font-size-base);
	background: $body-bg-base;
	color: $font-color-base;
	line-height: $line-height-base;
	padding-top: calcRem(120px);

	@include breakpoint(550px){
		padding-top: calcRem(70px);
	}

}
