<div class="excess-bar">
    <div class="excess-bar__wrapper">
        <div class="bar-graph--dual-color excess-bar__section excess-bar__section--graph">
            <div class="excess-bar__bar bar-graph__bar-wrapper">
                <div class="bar-graph__bar bar-graph__bar--one"></div>
                <div class="bar-graph__bar bar-graph__bar--two"></div>
                <div class="bar-graph__shadow"></div>
            </div>
        </div>
        <div class="excess-bar__section">
            <div class="excess-bar__excess-segment excess-bar__excess-segment--voluntary">
                <h2 class="excess-bar__heading excess-bar__heading--voluntary">Voluntary Excess</h2>
                <div class="excess-bar__value-box">
                    <p class="excess-bar__value excess-bar__value--voluntary">&pound;{{ policy1.excess.voluntary }}</p>
                    <div class="excess-bar__button-wrapper">   
                        <div id="Excess-Bar-Edit-Button" class="button button--hollow excess-bar__button" tabindex="0">
                            <span class="excess-bar__button-text">Edit</span>
                        </div>
                        <div class="inline-modal excess-bar__edit-modal">
                            <button class="button button--radio excess-bar__modal-button" tabindex="0">&pound;0</button>
                            <button class="button button--radio excess-bar__modal-button" tabindex="0">&pound;50</button>
                            <button class="button button--radio excess-bar__modal-button" tabindex="0">&pound;100</button>
                            <button class="button button--radio excess-bar__modal-button" tabindex="0">&pound;150</button>
                            <button class="button button--radio excess-bar__modal-button" tabindex="0">&pound;200</button>
                            <button class="button button--radio excess-bar__modal-button" tabindex="0">&pound;250</button>
                            <button class="button button--radio excess-bar__modal-button" tabindex="0">&pound;300</button>
                            <button class="button button--radio excess-bar__modal-button" tabindex="0">&pound;350</button>
                            <button class="button button--radio excess-bar__modal-button" tabindex="0">&pound;400</button>
                            <button class="button button--radio excess-bar__modal-button" tabindex="0">&pound;450</button>
                            <button class="button button--radio excess-bar__modal-button" tabindex="0">&pound;500</button>  
                        </div>
                    </div>
                </div>
                <p class="excess-bar__text">
                    The amount that you choose to pay in addition to the compulsory excess.
                </p>
            </div>
            <div class="excess-bar__excess-segment excess-bar__excess-segment--compulsory">
                <h2 class="excess-bar__heading excess-bar__heading--compulsory">Compulsory Excess</h2>
                <div class="excess-bar__value-box">
                    <p class="excess-bar__value excess-bar__value--compulsory">&pound;{{ policy1.excess.compulsory }}</p>
                </div>
                <p class="excess-bar__text">
                    The amount set by the insurance provider and can't be changed.
                </p>
            </div>
            <div class="excess-bar__excess-segment excess-bar__excess-segment--total">
                <h2 class="excess-bar__heading excess-bar__heading--total">Total Excess</h2>
                <div class="excess-bar__value-box">
                    <p class="excess-bar__value excess-bar__value--total">&pound;{{ policy1.excess.total }}</p>
                </div>
                <p class="excess-bar__text">
                    Amount you pay if you make a claim
                </p>
            </div>
        </div>
    </div>
</div>
