// MIXINS
// Clearfix, Breakpoints etc...
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin visually-hidden(){
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

@mixin font-size($size:$font-size-base){
    font-size: $size;
    font-size: calcRem($size);
}

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin breakpoint($breakpoint) { 
    @media (min-width: $breakpoint) {
      @content;
    }
}