<h2 class="h1">Tell us what you think is important in your car insurance.</h2>
<p class="heading__sub-text">
    We just need to get to know you a little better, so we only show you the optional extras that’ll you’ll be interested in.
</p>

<form class="form-row demands-questions">
    <fieldset class="form-row__field-set">
        <legend class="form-row__legend--hidden">How would you like to receive your policy documents?</legend>
        
        <input class="form-row__input form-row__input--checkbox demands-questions__input" type="checkbox" name="demands-questions" id="Demands-Questions-1" value="breakdown"/>
        <label class="form-row__label form-row__label--checkbox demands-questions__label" for="Demands-Questions-1">
            Assistance if you break down
        </label>

        <input class="form-row__input form-row__input--checkbox demands-questions__input" type="checkbox" name="demands-questions" id="Demands-Questions-2" value="uninsured-drivers"/>
        <label class="form-row__label form-row__label--checkbox demands-questions__label" for="Demands-Questions-2">
            Cover for uninsured drivers
        </label>

        <input class="form-row__input form-row__input--checkbox demands-questions__input" type="checkbox" name="demands-questions" id="Demands-Questions-3" value="lost-keys"/>
        <label class="form-row__label form-row__label--checkbox demands-questions__label" for="Demands-Questions-3">
            Cover for lost car keys
        </label>

        <input class="form-row__input form-row__input--checkbox demands-questions__input" type="checkbox" name="demands-questions" id="Demands-Questions-4" value="grc"/>
        <label class="form-row__label form-row__label--checkbox demands-questions__label" for="Demands-Questions-4">
            Access to another car following accident
        </label>

        <input class="form-row__input form-row__input--checkbox demands-questions__input" type="checkbox" name="demands-questions" id="Demands-Questions-5" value="mlp"/>
        <label class="form-row__label form-row__label--checkbox demands-questions__label" for="Demands-Questions-5">
            Financial support after accident
        </label>

        <input class="form-row__input form-row__input--checkbox demands-questions__input" type="checkbox" name="demands-questions" id="Demands-Questions-6" value="theft-car"/>
        <label class="form-row__label form-row__label--checkbox demands-questions__label" for="Demands-Questions-6">
            Replacement car following a theft
        </label>

        <input class="form-row__input form-row__input--checkbox demands-questions__input" type="checkbox" name="demands-questions" id="Demands-Questions-7" value="price-protect"/>
        <label class="form-row__label form-row__label--checkbox demands-questions__label" for="Demands-Questions-7">
            Don’t want insurance cost to go up next year
        </label>
    </fieldset>

</form>