{% macro policyInclusion(image, heading, data) %}
     <div class="policy-inclusion panel-link" data-panel="{{ data }}" tabindex="0">
        <div class="policy-inclusion__image-wrapper">
            <img class="policy-inclusion__image" src="images/{{ image }}"/>
        </div>
        <h4 class="policy-inclusion__heading">{{ heading }}</h4>
    </div>
{% endmacro %}

<div class="page-heading">
    <h1 class="page-heading__heading">What's included in your policy</h1>
</div>

<div class="policy-inclusion__container">

    {{ policyInclusion('icon-comprehensive-cover.svg', 'Comprehensive cover', 'Cover-Level-Panel') }}
    {{ policyInclusion('icon-legal-protection.svg', 'Motor Legal protection', 'MLP-Panel') }}
    {{ policyInclusion('icon-courtesy-car.svg', 'Courtesy car', 'Courtesy-Car-Panel') }}
    {{ policyInclusion('icon-car.svg', 'Uninsured driver promise', 'Uninsured-Driver-Panel') }}
    {{ policyInclusion('icon-car.svg', 'Vandalism promise', 'Vandalism-Panel') }}
    {{ policyInclusion('icon-personal-accident.svg', 'Personal accident', 'Personal-Accident-Panel') }}
    {{ policyInclusion('icon-windscreen.svg', 'Windscreen cover', 'Windscreen-Panel') }}
    {{ policyInclusion('icon-eu-travel.svg', 'Driving abroad', 'Driving-Abroad-Panel') }}
    {{ policyInclusion('icon-key.svg', 'Key cover', 'Key-Cover-Panel') }}
    {{ policyInclusion('icon-wallet.svg', 'Personal belongings', 'Personal-Belongings-Panel') }}
    {{ policyInclusion('icon-car.svg', 'Child seat cover', 'Child-Seat-Panel') }}
    {{ policyInclusion('icon-car.svg', 'Emergency transport', 'Emergency-Transport-Panel') }}
    {{ policyInclusion('icon-audio.svg', 'Audio equipment', 'Audio-Equipment-Panel') }}
    {{ policyInclusion('icon-car.svg', 'Medical expenses', 'Medical-Expenses-Panel') }}
    {{ policyInclusion('icon-car.svg', 'Replacement locks', 'Replacement-Locks-Panel') }}
    {{ policyInclusion('icon-home.svg', 'Hotel expenses', 'Hotel-Expenses-Panel') }}

</div>