// Brans Specific Variables

@font-face{
    font-family:"MuseoSans";
    src:url("../fonts/Museo-Sans-W01-300.woff");
    font-weight:normal;
}


@font-face {
    font-family: 'MuseoSans';
    font-style: normal;
    font-weight: 400;
    src: local('Museo Sans'), 
        url(../fonts/Museo-Sans-300.otf) format('otf'),
        url(../fonts/Museo-Sans-300.woff) format('woff'),
        url(../fonts/Museo-Sans-300.ttf) format('ttf'),
        url(../fonts/Museo-Sans-300.eot) format('eot');
  }

$font-family-base:          'MuseoSans', sans-serif;


/* Brand Settings */
$color-primary:             #0460a9;
$color-secondary:           #f7a71e;
$color-tertiary:            #4CB7B5; 
$color-font:                #4A4A4A;
$color-font--light:         #979797;
$color-primary--light:      #DEDBEA;
$color-secondary--light:    #DEDBEA;
$color-primary--dark:       #332763;

//Zenith
/*
$color-primary: #0460A9;
$color-secondary: #F9AF2D;
//$color-teriary: #n/a;
$color-grey: #C7C7C7;
$color-red: #ED1921;
*/