// Brand specific variables
@import 'brand.variables';


$page-footer__background-color: #454545;

// @import core sass;
@import '../../../common/sass/01-settings/settings';
@import '../../../common/sass/02-tools/tools';
@import '../../../common/sass/03-generic/generic';
@import '../../../common/sass/04-elements/elements';
@import '../../../common/sass/05-objects/objects';
/* inject:imports */
/* endinject */
@import '../../../common/sass/07-trumps/trumps';


body {
    background-color: #efeff0;
}

.button {
    border-radius: 5px;
}

.page-header__logo {
    max-width: 150px;
}
