<div class="review-overview">
    <div class="review-overview__section">
        <h3 class="review-overview__heading">
            <strong class="review-overview__heading-text review-overview__heading-text--main">
                {{ policy1.vehicles[0].year }} {{ policy1.vehicles[0].make }} {{ policy1.vehicles[0].model }} {{ policy1.vehicles[0].trim }}
            </strong>
            <span class="review-overview__heading-sub-wrapper">
                <span class="review-overview__heading-text review-overview__heading-text--secondary">
                    {{ policy1.vehicles[0].capacity }}, {{ policy1.vehicles[0].fuel }}, {{ policy1.vehicles[0].doors }}, {{ policy1.vehicles[0].transmission }}
                </span>
                <a class="review-overview__heading-link" href="#0">Edit</a>
            </span>
        </h3>

        <p class="review-overview__address">
            <span class="review-overview__address-text">
               {{ policy1.address.number }} {{ policy1.address.street }}, {{ policy1.address.town }} {{ policy1.address.city }} {{ policy1.address.postcode }} 
            </span>
            <a class="review-overview__address-link" href="#0">Edit</a>
        </p>

        <div class="review-overview__cover-wrapper">
            <div class="review-overview__cover-section review-overview__cover-section--left">
                <p class="review-overview__cover-heading">
                    Cover type
                </p>
                <p class="review-overview__cover-text">
                    {{ policy1.coverLevel }}
                </p>
                <a class="review-overview__cover-link" href="#0">Edit</a>
            </div>
            <div class="review-overview__cover-section review-overview__cover-section--right">
                <p class="review-overview__cover-heading">
                    Usage
                </p>
                <p class="review-overview__cover-text">
                    {{ policy1.vehicles[0].use }}
                </p>
                <a class="review-overview__cover-link" href="#0">Edit</a>
            </div>
        </div>
    </div>

    <div class="review-overview__section">
        <div class="review-overview__section-wrapper">
            <div class="review-overview__person">
                <div class="initials-disc">
                    <div class="initials-disc__disc review-overview__person-disc">
                        <p class="initials-disc__inner-text review-overview__person-disc-text">{{ policy1.policyHolder.firstName | first }}{{ policy1.policyHolder.surname | first }}</p>
                    </div>
                    <p class="initials-disc__under-text review-overview__person-name">{{ policy1.policyHolder.firstName}} {{ policy1.policyHolder.surname}}</p>
                    <a class="review-overview__person-link" href="#0">Edit</a>
                </div>
            </div>

            <div class="review-overview__person">
                <div class="initials-disc">
                    <div class="initials-disc__disc review-overview__person-disc">
                        <p class="initials-disc__inner-text review-overview__person-disc-text">+1</p>
                    </div>
                    <p class="initials-disc__under-text review-overview__person-role">NAMED DRIVERS</p>
                    <a class="link review-overview__person-link" href="#0">ADD DRIVER</a>
                </div>
            </div>
            <div class="review-overview__ncd-section">
                <h4 class="review-overview__ncd-heading">
                    Years no Claims Bonus
                </h4>
                <p class="review-overview__ncd-years">
                    <strong class="review-overview__years-text">{{ policy1.ncd.years}}</strong>
                    <span class="review-overview__years-text">Years</span>
                </p>
                <a class="review-overview__ncd-link" href="#0">Edit</a>
            </div>
        </div>
    </div>

</div>