<div class="breakdown-table">
    <div class="breakdown-table__header">
        <div class="breakdown-table__header-item breakdown-table__header-item--image">
        </div>
        <div class="breakdown-table__header-item" data-tier="1">
            <h3 class="breakdown-table__cover-title">
                <strong class="breakdown-table__title-main">UK Roadside</strong>
                </h3>
            <p class="breakdown-table__main-price">
                <span class="breakdown-table__main-price-wrapper">
                    <strong class="breakdown-table__main-pounds">&pound;3</strong>
                    <span class="breakdown-table__main-pence">.99</span>
                </span>
                <span class="breakdown-table__main-price-text">/month*</span>
            </p>
            <p class="breakdown-table__sub-price">Annual cost &pound;47.88</p>
            <div class="breakdown-table__button-wrapper">
                <button class="button button--primary breakdown-table__button" data-tier="1">Select</button>
            </div>
        </div>
        <div class="breakdown-table__header-item" data-tier="2">
            <h3 class="breakdown-table__cover-title">
                <strong class="breakdown-table__title-main">UK Roadside</strong>
                <span class="breakdown-table__title-sub">&amp; Recovery</span>
                </h3>
            <p class="breakdown-table__main-price">
                <span class="breakdown-table__main-price-wrapper">
                    <strong class="breakdown-table__main-pounds">&pound;5</strong>
                    <span class="breakdown-table__main-pence">.49</span>
                </span>
                <span class="breakdown-table__main-price-text">/month*</span>
            </p>
            <p class="breakdown-table__sub-price">Annual cost &pound;65.88</p>
            <div class="breakdown-table__button-wrapper">
                <button class="button button--primary breakdown-table__button" data-tier="2">Select</button>
            </div>
        </div>
        <div class="breakdown-table__header-item" data-tier="3">
            <h3 class="breakdown-table__cover-title">
                <strong class="breakdown-table__title-main">UK Roadside,</strong>
                <span class="breakdown-table__title-sub">Recovery &amp; At Home</span>
                </h3>
            <p class="breakdown-table__main-price">
                <span class="breakdown-table__main-price-wrapper">
                    <strong class="breakdown-table__main-pounds">&pound;5</strong>
                    <span class="breakdown-table__main-pence">.99</span>
                </span>
                <span class="breakdown-table__main-price-text">/month*</span>
            </p>
            <p class="breakdown-table__sub-price">Annual cost &pound;71.89</p>
            <div class="breakdown-table__button-wrapper">
                <button class="button button--primary breakdown-table__button" data-tier="3">Select</button>
            </div>
        </div>
        <div class="breakdown-table__header-item" data-tier="4">
            <h3 class="breakdown-table__cover-title">
                <strong class="breakdown-table__title-main">UK Roadside,</strong>
                <span class="breakdown-table__title-sub">Recovery, At Home &amp; Onward Travel</span>
                </h3>
            <p class="breakdown-table__main-price">
                <span class="breakdown-table__main-price-wrapper">
                    <strong class="breakdown-table__main-pounds">&pound;6</strong>
                    <span class="breakdown-table__main-pence">.99</span>
                </span>
                <span class="breakdown-table__main-price-text">/month*</span>
            </p>
            <p class="breakdown-table__sub-price">Annual cost &pound;83.88</p>
            <div class="breakdown-table__button-wrapper">
                <button class="button button--primary breakdown-table__button" data-tier="4">Select</button>
            </div>
        </div>
        <div class="breakdown-table__header-item" data-tier="5">
            <h3 class="breakdown-table__cover-title">
                <strong class="breakdown-table__title-main">EU + UK Roadside,</strong>
                <span class="breakdown-table__title-sub">Recovery, At Home &amp; Onward Travel</span>
                </h3>
            <p class="breakdown-table__main-price">
                <span class="breakdown-table__main-price-wrapper">
                    <strong class="breakdown-table__main-pounds">&pound;11</strong>
                    <span class="breakdown-table__main-pence">.49</span>
                </span>
                <span class="breakdown-table__main-price-text">/month*</span>
            </p>
            <p class="breakdown-table__sub-price">Annual cost &pound;137.89</p>
            <div class="breakdown-table__button-wrapper">
                <button class="button button--primary breakdown-table__button" data-tier="5">Select</button>
            </div>
        </div>
    </div>
    <div class="breakdown-table__body">
        <div class="breakdown-table__row">
            <div class="breakdown-table__body-item breakdown-table__body-item--first">
                <p class="breakdown-table__feature">
                    Roadside assistance
                </p>
            </div>
            <div class="breakdown-table__body-item" data-tier="1">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="2">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="3">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="4">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="5">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
        </div>
        <div class="breakdown-table__row">
            <div class="breakdown-table__body-item breakdown-table__body-item--first">
                <p class="breakdown-table__feature">
                    Local vehicle recovery
                </p>
            </div>
            <div class="breakdown-table__body-item" data-tier="1">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="2">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="3">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="4">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="5">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
        </div>
        <div class="breakdown-table__row">
            <div class="breakdown-table__body-item breakdown-table__body-item--first">
                <p class="breakdown-table__feature">
                    No call out charge
                </p>
            </div>
            <div class="breakdown-table__body-item" data-tier="1">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="2">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="3">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="4">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="5">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
        </div>
        <div class="breakdown-table__row">
            <div class="breakdown-table__body-item breakdown-table__body-item--first">
                <p class="breakdown-table__feature">
                    UK national vehicle recovery
                </p>
            </div>
            <div class="breakdown-table__body-item" data-tier="1">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="2">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="3">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="4">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="5">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
        </div>
        <div class="breakdown-table__row">
            <div class="breakdown-table__body-item breakdown-table__body-item--first">
                <p class="breakdown-table__feature">
                    Emergency driver (UK only)
                </p>
            </div>
            <div class="breakdown-table__body-item" data-tier="1">
            </div>
            <div class="breakdown-table__body-item" data-tier="2">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="3">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="4">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="5">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
        </div>
        <div class="breakdown-table__row">
            <div class="breakdown-table__body-item breakdown-table__body-item--first">
                <p class="breakdown-table__feature">
                    Cover at home
                </p>
            </div>
            <div class="breakdown-table__body-item" data-tier="1">
            </div>
            <div class="breakdown-table__body-item" data-tier="2">
            </div>
            <div class="breakdown-table__body-item" data-tier="3">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="4">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="5">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
        </div>
        <div class="breakdown-table__row">
            <div class="breakdown-table__body-item breakdown-table__body-item--first">
                <p class="breakdown-table__feature">
                    Onward travel options
                </p>
            </div>
            <div class="breakdown-table__body-item" data-tier="1">
            </div>
            <div class="breakdown-table__body-item" data-tier="2">
            </div>
            <div class="breakdown-table__body-item" data-tier="3">
            </div>
            <div class="breakdown-table__body-item" data-tier="4">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="5">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
        </div>
        <div class="breakdown-table__row">
            <div class="breakdown-table__body-item breakdown-table__body-item--first">
                <p class="breakdown-table__feature">
                    Overnight accomodation
                </p>
            </div>
            <div class="breakdown-table__body-item" data-tier="1">
            </div>
            <div class="breakdown-table__body-item" data-tier="2">
            </div>
            <div class="breakdown-table__body-item" data-tier="3">
            </div>
            <div class="breakdown-table__body-item" data-tier="4">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
            <div class="breakdown-table__body-item" data-tier="5">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
        </div>
        <div class="breakdown-table__row">
            <div class="breakdown-table__body-item breakdown-table__body-item--first">
                <p class="breakdown-table__feature">
                    EU Roadside Assistance
                </p>
            </div>
            <div class="breakdown-table__body-item" data-tier="1">
            </div>
            <div class="breakdown-table__body-item" data-tier="2">
            </div>
            <div class="breakdown-table__body-item" data-tier="3">
            </div>
            <div class="breakdown-table__body-item" data-tier="4">
            </div>
            <div class="breakdown-table__body-item" data-tier="5">
                <img class="breakdown-table__tick" alt="cover tick image" src="images/icon-tick.svg"/>
            </div>
        </div>
    </div>
</div>
<p class="legal-text">
    For full details of benefits, exclusions, limitations and cover, please refer to the policy document.
</p>
