<table class="grc">
    <thead class="grc__header">
        <tr class="grc__header-row">
            <th class="grc__header-cell grc__first-col"></th>
            <th class="grc__header-cell grc__without-cover">
                <h3 class="grc__cover-title grc__cover-title--no-cover">Without cover</h3>
                <svg class="grc__header-image grc__header-image--no-cover" xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 108 127">
                    <g fill="none" fill-rule="evenodd">
                        <g class="icon-grc__car-wrapper">
                            <g class="icon-grc__car"  fill="#0A090B">
                                <path d="M86.088 42.342c0 .806-.656 1.463-1.463 1.463h-61.25a1.465 1.465 0 0 1-1.463-1.463V30.68a7.294 7.294 0 0 1 7.287-7.287h49.588a7.294 7.294 0 0 1 7.287 7.287v11.662h.014zM80.25 54.004c0 .807-.656 1.463-1.463 1.463H72.95a1.465 1.465 0 0 1-1.463-1.463v-7.287h8.75v7.287h.014zm-43.75 0c0 .807-.656 1.463-1.463 1.463h-5.824a1.465 1.465 0 0 1-1.463-1.463v-7.287h8.75v7.287zm-.875-50.149a1.465 1.465 0 0 1 1.34-.888h34.07c.588 0 1.108.342 1.34.875l7.11 16.638a11.896 11.896 0 0 0-.684-.027H29.213c-.233 0-.465.014-.684.027l7.096-16.625zm47.414 17.541L75.055 2.707a4.36 4.36 0 0 0-4.02-2.652h-34.07a4.374 4.374 0 0 0-4.02 2.652l-7.984 18.69C21.447 23.01 19 26.563 19 30.68v11.662a4.388 4.388 0 0 0 4.375 4.375h1.463v7.287a4.388 4.388 0 0 0 4.375 4.375h5.838a4.388 4.388 0 0 0 4.375-4.375v-7.287h29.162v7.287a4.388 4.388 0 0 0 4.375 4.375H78.8a4.388 4.388 0 0 0 4.375-4.375v-7.287h1.449A4.388 4.388 0 0 0 89 42.342V30.68c0-4.116-2.447-7.67-5.96-9.284z" />
                                <path d="M32.125 37.967a4.388 4.388 0 0 1-4.375-4.375 4.388 4.388 0 0 1 4.375-4.375 4.388 4.388 0 0 1 4.375 4.375 4.388 4.388 0 0 1-4.375 4.375zm0-11.662a7.294 7.294 0 0 0-7.287 7.287 7.294 7.294 0 0 0 7.287 7.287 7.294 7.294 0 0 0 7.287-7.287 7.294 7.294 0 0 0-7.287-7.287zM75.875 37.967a4.388 4.388 0 0 1-4.375-4.375 4.388 4.388 0 0 1 4.375-4.375 4.388 4.388 0 0 1 4.375 4.375 4.388 4.388 0 0 1-4.375 4.375zm0-11.662a7.294 7.294 0 0 0-7.287 7.287 7.294 7.294 0 0 0 7.287 7.287 7.294 7.294 0 0 0 7.287-7.287 7.294 7.294 0 0 0-7.287-7.287zM64.213 35.055H43.787c-.807 0-1.463.656-1.463 1.463 0 .806.656 1.462 1.463 1.462H64.2c.807 0 1.463-.656 1.463-1.462 0-.807-.642-1.463-1.45-1.463M64.213 29.217H43.787c-.807 0-1.463.656-1.463 1.463 0 .806.656 1.463 1.463 1.463H64.2c.807 0 1.463-.657 1.463-1.463 0-.807-.642-1.463-1.45-1.463" />
                            </g>
                            <path class="icon-grc__cross-bar" fill="#4A4A4A" d="M0 46h25v1H0zM83 46h25v1H83z" />
                        </g>
                        <path fill="#9B9B9B" d="M5 17h8v110H5z" />
                        <path fill="#9B9B9B" d="M95 17h8v110h-8z" />
                    </g>
                </svg>
            </th>
            <th class="grc__header-cell" data-grc="1">
                <h3 class="grc__cover-title">Guaranteed Replacement Car</h3>
                <p class="grc__price-wrapper">
                    <strong class="grc__price-pounds">&pound;1</strong>
                    <span class="grc__price-pence">.49<span>
                    <span class="grc__price-sub-text">/month*</span>
                </p>
                <p class="grc__annual-text">Annual cost &pound;17.88</p>
                <button class="button button--primary grc__button" data-grc="1">Select</button>
                <img class="grc__header-image grc__header-image--grc" src="images/icon-car.svg" alt="guaranteed repacement car cover"/>

            </th>
            <th class="grc__header-cell" data-grc="2">
                <h3 class="grc__cover-title">Guaranteed Replacement Car PLUS</h3>
                <p class="grc__price-wrapper">
                    <strong class="grc__price-pounds">&pound;2</strong>
                    <span class="grc__price-pence">.99<span>
                    <span class="grc__price-sub-text">/month*</span>
                </p>
                <p class="grc__annual-text">Annual cost &pound;35.88</p>
                <button class="button button--primary grc__button" data-grc="2">Select</button>
                <img class="grc__header-image grc__header-image--grc-plus" src="images/icon-car.svg" alt="guaranteed repacement car cover plus"/>
            </th>
        </tr>
    </thead>
    <tbody class="grc__body">
        <tr class="grc__body-row">
            <td class="grc__label-cell grc__first-col">
                Your car awaiting repair
            </td>
            <td class="grc__cover-cell grc__without-cover">
                <img class="grc__image grc__image--cross" src="images/icon-cross.svg" alt="no cover"/>
            </td>
            <td class="grc__cover-cell grc__cover-cell--full-height" rowspan="4" data-grc="1">
                <img class="grc__image grc__image--tick" src="images/icon-tick.svg" alt="included"/>
                <h4 class="grc__cell-heading">For 28 days</h4>
                <p class="grc__text">
                    You get a small hatchback replacement vehicle (typically with a 1 litre engine)
                </p>
            </td>
            <td class="grc__cover-cell grc__cover-cell--full-height" rowspan="4" data-grc="2">
                <img class="grc__image grc__image--tick" src="images/icon-tick.svg" alt="included"/>
                <h4 class="grc__cell-heading">For 28 days</h4>
                <p class="grc__text">
                    You get a similar physical size replacement vehicle to your own
                </p>
            </td>
        </tr>
        <tr class="grc__body-row">
            <td class="grc__label-cell grc__first-col">
                Your car in repair
            </td>
            <td class="grc__cover-cell grc__without-cover">
                Courtesy Car "if the garage has got one"
            </td>
        </tr>
        <tr class="grc__body-row">
            <td class="grc__label-cell grc__first-col">
                Your car total write-off
            </td>
            <td class="grc__cover-cell grc__without-cover">
                <img class="grc__image grc__image--cross" src="images/icon-cross.svg" alt="no cover"/>
            </td>
        </tr>
        <tr class="grc__body-row">
            <td class="grc__label-cell grc__first-col">
                Your car stolen
            </td>
            <td class="grc__cover-cell grc__without-cover">
                <img class="grc__image grc__image--cross" src="images/icon-cross.svg" alt="no cover"/>
            </td>
        </tr>
    </tbody>
</table>