{% include "partials/generic/panel-header.nunjucks" %}
<div>

    <div class="page-section--outer">
        <div class="page-section--inner">
            <div class="feature-header">
                <img class="feature-header__image" src="images/icon-car.svg" alt="Vandalism Promise Icon"/>
                <h1 class="feature-header__heading">
                    <strong class="feature-header__heading-highlight-text">Vandalism promise</strong>
                </h1>
                <div class="feature-header__divider"></div>
                <p class="feature-header__text">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati.
                </p>
            </div>
        
            <div class="fbels">
                <div class="fbels__section fbels__section--full-width">
                    <h4 class="fbels__heading fbels__heading--cover">What it covers</h4>
                    <p class="fbels__sub-heading">The insurer will pay the following;</p>
                    <ul class="list list--fbels list--fbels-cover">
                        <li class="list__item">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati.
                        </li>
                        <li class="list__item">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati.
                        </li>
                    </ul>
                </div>
                <div class="fbels__section fbels__section--full-width">
                    <h4 class="fbels__heading fbels__heading--remember">Things to think about</h4>
                    <ul class="list list--fbels list--fbels-remember">
                        <li class="list__item info">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="questions-box">
                <div class="questions-box__divider"></div>
                <p class="questions-box__text">Got a question on Vandalsim Promise?</p>
                <a href="#0" class="link questions-box__link">Ask a question and get an instant answer</a>
            </div>
        </div>
    </div>

    <div class="page-section--outer">
        <div class="page-section--inner">
            <div class="button-container">
                <div class="button button--hollow button--back button--large button--left slide-panel__close" data-panel="Vandalism-Panel">Done</div>
            </div>
        </div>
    </div>

</div>