$feature-header__heading-color:             $color-primary !default;
$feature-header__divider-background-color:  $color-primary !default;

.feature-header {
    margin:30px 0;
    &__heading {
        color: $feature-header__heading-color;
        font-weight: 600;
        @include font-size(40px);
        margin:0 0 20px 0;
    }
    &__heading-standard-text {
        font-weight: 300;
    }
    &__sub-heading {
        @include font-size(20px);
        font-weight: normal;
        line-height: 34px;
        color: $color-primary;
        @include breakpoint(500px) {
            @include font-size(30px);
            line-height: 44px;
        }
    }
    &__divider {
        width:100%;
        max-width:170px;
        border-bottom:solid 2px $feature-header__divider-background-color;
        margin:0 0 30px 0;
    }
    &__text {
        line-height: 1.9;
        font-weight: 300;
        @include font-size(16px);
        @include breakpoint(500px) {
            @include font-size(18px);
        }
    }
    &__image {
        width:150px;
    }
    &__price {
        @include font-size(30px);
        color:$color-primary;
    }
    &__standard-price-text {
        font-weight: 300;
    }
}