.pre-contract {
    &__placeholder {
        width:100%;
        text-align: center;
        height:400px;
        border:solid 1px #000;
        display:flex;
        align-content: center;
        justify-content: space-around;
    }
    &__placeholder-text {
        line-height:21;
    }
}

.read-confirm {
    display:block;
    width:100%;
    @include breakpoint(500px) {
        display:table;
        padding:20px 0;
    }
    &__section {
        display:block;
        @include breakpoint(500px) {
            display:table-cell;
            vertical-align: middle;
        }
        &--checkbox {
            width:100%;
            text-align:center;
            @include breakpoint(500px) {
                width:200px;
            }
        }
    }
    &__text {
        line-height: 1.8;
    }
    &__checkbox {
        width:50px;
        height:50px;
    }
    &__label {
        display: block;
        padding:5px;
        text-align:center;
        margin:auto auto 10px auto;
        width:105px;
        border-radius: 5px;
        color:#fff;
        background-color: #000;
        position: relative;
        &:after {
            content: "";
            border: solid 10px #000;
            transform: rotate(45deg);
            position: absolute;
            bottom: -3px;
            left: 42px;
            z-index: -1;
        }
    }
}