.demands-questions {
    text-align:center;
    &__button {
        padding: 20px 45px 20px 20px;
        background-image: url('../images/icon-plus-round.svg');
        background-position: 98% center;
        background-repeat:no-repeat;
        background-size:35px;
        border-color:$color-grey--light;
        color:$color-primary;
        font-weight: 600;
        &:hover {
            background-image: url('../images/icon-plus-round-white.svg');
        }
        &.selected {
            background-image: url('../images/icon-minus-round-white.svg');
            background-color: $color-green;
            &:hover {
                background-image: url('../images/icon-minus-round-white.svg');
                background-color: $color-secondary;
            }
        }
    }
}