.questions-box {
    padding:30px 0 0 0;
    margin:40px 0 0 0;
    &__divider {
        width:100%;
        max-width: 70px;
        border-bottom:solid 2px #333;
    }
    &__text {
        @include font-size(20px);
        font-weight: 300;
        margin:20px 0 10px 0;
    }
    &__link {
        font-weight: bold;
        @include font-size(18px);
    }
}