.confidence-box {
    &__heading {
        @include font-size(13px);
    }
    &__text {
        color:#9B9B9B;
        @include font-size(13px);
        font-weight: 300;
        line-height:20px;
    }
}