.payment-summary {
    display:block;
    max-width:600px;
    @include breakpoint(500px) {
        display:flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__item {
        display:block;
        width:100%;
        @include breakpoint(500px) {
            flex: 1 1 50%;
        }
    }
    &__legal-text {
        line-height: 2;
    }
}

.payment-switch-link {
    font-weight: bold;
}