$summary-heading__heading-color:                $color-primary !default;
$summary-heading__selector-option-color:        $color-secondary !default;

.summary-heading {
    text-align:center;
    padding: 10px 0;
    max-width:800px;
    margin:auto;
    &__heading {
        font-weight: 300;
        @include font-size(44px);
        margin:0 0 25px 0;
        color:$summary-heading__heading-color;
    }
    &__selector-wrapper {
        display:inline-block;
        position: relative;
    }
    &__selector-option {
        display:inline-block;
        border-bottom: solid 2px #ccc;
        padding-right:30px;
        background-image: url('../images/icon-arrow-down.svg');
        background-position:right 25px;
        background-repeat:no-repeat;
        background-size:23px;
        cursor: pointer;
        font-weight: bold;
        color:$summary-heading__selector-option-color;
    }
    &__sub-text {
        @include font-size(13px);
        color:$color-font--light;
        padding:0 10px;
        line-height: 28px;
        font-weight: 300;
    }
    &__modal {
        top: 69px;
        left: -3px;
        width:200px;
        @include breakpoint(500px) {
            left: -30px;
            width: 250px;
        }
    }
}