.card-authentication {
    &__text {
        @include font-size(13px);
        font-weight:300;
        color:#9B9B9B;
        line-height: 20px;
    }
    &__link-pre-text {
        @include font-size(15px);
        font-weight:300;
        color:#9B9B9B;
    }
    &__link {
        @include font-size(16px);
    }
}