.ncdp-table {
    width:100%;
    max-width:800px;
    @include font-size(18px);
    margin-bottom:80px;
    display:table;
    &__section {
        display:table-row;
    }
    &__header-item {
        display:table-cell;
        width:50%;
        padding:20px 0;
        border-bottom: solid 1px #4A4A4A;
        font-weight: bold;
        &:nth-of-type(1) {
            border-right:solid 1px #F2F2F2;
        }
        &:nth-of-type(2) {
            padding-left:20px;
        }
    }
    &__item {
        display:table-cell;
        width:50%;
        padding:20px 0;
        border-bottom: solid 1px #F2F2F2;
        &:nth-of-type(1) {
            border-right:solid 1px #F2F2F2;
        }
        &:nth-of-type(2) {
            padding-left:20px;
        }
        &--last {
            border-bottom: solid 1px #4A4A4A;
        }
    }
}