.shopping-basket {
    text-align: right;
    cursor: pointer;
    @include clearfix;
    color:$color-primary;
    position: relative;
    top:5px;
    &__text {
        display:inline-block;
        padding-left:21px;
        background-image:url('../images/icon-shopping-cart.svg');
        background-repeat: no-repeat;
        background-position:0 -3px;
        background-size: 21px;

    }
    &__price {
        display:block;
        line-height: 1.1;
    }
    &__sub-text {
        display:block;
        line-height: 1.1;
        @include font-size(13px);
    }
}

.quote-number {
    @include font-size(16px);
    &__text {
        margin:0;
    }
    &__sub-text {
        color:#9B9B9B;
        font-weight: 300;
        display:block;
    }
    &__number {
        color: $color-primary;
        display:block;
    }
}

.shopping-basket-details {
    width:100%;
    border-bottom: solid 1px #E5E5E5;
    padding-bottom:40px;
    @include breakpoint(700px) {
        display:table;
    }
    &__section {
        margin:auto;
        @include breakpoint(700px) {
            display:table-cell;
            vertical-align: top;
            width:50;
            max-width:10000px;
            &:nth-of-type(1) {
                width:50%;
            }
            &:nth-of-type(2) {
                text-align: right;
            }
        }
        &:nth-of-type(2) {
            padding:10px 5px;
        }
    }
    &__payment-wrapper {
        @include clearfix;
        border-top:solid 1px $color-grey;
        border-bottom:solid 1px $color-grey;
        padding:30px 0;
        margin-bottom:20px;
        @include breakpoint(700px) {
            border:none;
            padding:20px 0;
        }
    }
    &__today-price-wrapper {
        float:left;
        width:50%;
        text-align:left;
    }
    &__monthly-price-wrapper {
        float:right;
        width:50%;
        text-align:right;
    }
    &__price-heading-text {
        display:block;
        font-weight: 600;
        @include font-size(16px);
    }
    &__price-text {
        display:block;
        color:$color-primary;
        @include font-size(30px);
    }
    &__price-sub-text {
        color:#9B9B9B;
        @include font-size(13px);
        font-weight: 300;
    }
    &__financial-text {
        color:#9B9B9B;
        @include font-size(13px);
        margin:7px 0;
        @include clearfix;
    }
    &__finanical-detail {
        float:left;
    }
    &__financial-value {
        float:right;
        text-align:right;
        color:$color-font;
        padding-left:10px;
        @include breakpoint(700px) {
            color:inherit;
        }
    }
}

.shopping-basket-actions {
    @include breakpoint(800px) {
        display:table;
    }
    &__section {
        padding:15px 0;
        @include breakpoint(800px) {
            display:table-cell;
            width:50%;
            vertical-align: middle;
            padding:20px 10px;
        }
    }

    &__quote-text {
        @include font-size(16px);
        font-weight: 300;
    }

    &__sub-text {
        color:#9B9B9B;
        @include font-size(13px);
        font-weight: 300;
    }

    &__button {
            @include font-size(18px);
            line-height: 1.2;
            display:inline-block;
        @include breakpoint(800px) {
            max-width:45%;
        }
    }
}