$breakdown-table-tiers:             5 !default;

.breakdown-table {
    width:100%;
    margin-bottom:30px;
    user-select:none;
    &__header {
        display:table;
        width:100%;
        border-bottom:solid 1px $color-secondary;
    }
    &__header-item {
        display:table-cell;
        width:calc(100%/#{$breakdown-table-tiers});
        border-right:solid 1px #D8D8D8;
        vertical-align: bottom;
        padding:2px;
        text-align:center;
        &.active {
            background-color:$color-primary--lighter;
            border-right:solid 2px $color-green;
            border-left:solid 2px $color-green;
        }
        @include breakpoint(750px) {
            width:calc(75%/#{$breakdown-table-tiers});
            padding:10px;
        }
        &--image {
            background-image: url('../images/icon-breakdown-table.png');
            background-repeat: no-repeat;
            background-position: -280px -280px;
            background-size:10%;
            width:25%;
            display:none;
            transition: background-position 1s cubic-bezier(0.38, 0.6, 0.63, 1.14), background-size 0.8s linear;
            @include breakpoint(750px) {
                display:table-cell;
            }
        }
        &[data-tier] {
            cursor: pointer;
        }
    }
    &__title {
        &-main {
            display:block;
            @include font-size(12px);
            @include breakpoint(750px) {
                @include font-size(16px);
            }
        }
        &-sub {
            display:block;
            font-weight: normal;
            @include font-size(11px);
            @include breakpoint(750px) {
                @include font-size(15px);
            }
        }
    }
    &__main {
        &-price {
            color:$color-primary;
        }
        &-pounds {
            @include font-size(24px);
            @include breakpoint(750px) {
                @include font-size(40px);
            }
        }
        &-pence {
            @include font-size(12px);
            @include breakpoint(750px) {
                @include font-size(20px);
                position:relative;
                left:-3px;
            }
        }
    }
    &__main-price-wrapper {
        display: block;
        line-height: 0.9;
    }
    &__main-price-text {
        display: block;
        @include font-size(12px);
        @include breakpoint(750px) {
            @include font-size(14px);;
        }
    }
    &__sub-price {
        @include font-size(13px);
        color:#9B9B9B;
    }
    &__button {
        width:100%;
        padding:10px 5px;
        @include font-size(11px);
        font-weight: bold;
        margin-top:20px;
        &.active {
            background-color:$color-green;
            border-color: $color-green;
            @include breakpoint(750px) {
                padding-left:23px;
                background-size:20px;
                background-image: url('../images/icon-tick-white.svg');
                background-repeat: no-repeat;
                background-position: 8% center;
                text-align:center;
            }
            &:hover {
                color:#fff;
                background-color:$color-primary;
            }
        }
        @include breakpoint(750px) {
            padding:10px;
            @include font-size(13px);
        }
    }
    &__row {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        @include breakpoint(750px) {
            display:table;
        }
    }
    &__body-item {
        display:inline-block;
        width:calc(100%/#{$breakdown-table-tiers});
        text-align:center;
        padding:15px 5px;
        border:solid 1px #D8D8D8;
        border-left-color: transparent;
        vertical-align: middle;
        &.active {
            background-color:$color-primary--lighter;
            border-right:solid 2px $color-green;
            border-left:solid 2px $color-green;
        }
        @include breakpoint(750px) {
            display:table-cell;
            width:calc(75%/#{$breakdown-table-tiers});
        }
        &--first {
            display:block;
            width:100%;
            text-align:center;
            background-color:#f0f0f0;
            cursor: auto;
            @include breakpoint(750px) {
                display:table-cell;
                width:25%;
                background-color:transparent;
            }
        }
        &[data-tier] {
            cursor: pointer;
        }
    }
    &__feature {
        margin:0;
    }
    &__tick {
        width:20px;
        vertical-align: middle;
    }
}