.addon-radio {
    margin-top:55px;
    &__price {
        @include font-size(20px);
        color:$color-primary;
    }
    &__radio {
        width:48%;
        max-width:200px;
        padding: 15px;
        border-radius:40px;
        margin:10px 0;
        display:inline-block;
    }
}

.addon-price {
    @include font-size(30px);
}