$color-link-list__link-color:                   $color-primary !default;
$color-link-list__link-border-color:            $color-grey--light !default;

.cover-link-list{
    margin:auto;
    @include clearfix;
    &__list {
        width:100%;
        display: flex;
        flex-wrap:wrap;
        align-items: center;
        margin:auto;
        justify-content: space-around;
        @include breakpoint(920px) {
            justify-content: space-between;
        }
    }
    &__item {
        flex: 0 1 300px;
        padding: 4px 0 5px 0;
        font-weight: 300;
        @include font-size(17px);
        @include breakpoint(400px) {
            flex: 0 0 290px;
            @include font-size(22px);
            padding:0;
        }
        &:hover {
            text-decoration:none;
        }
    }
    &__link {
        padding-bottom:1px;
        border-bottom:1px solid $color-link-list__link-border-color;
        color:$color-link-list__link-color;
        padding:0;
        margin:0;
        @include font-size(21px);
        &:hover {
            border-bottom-color:transparent;
        }
    }
}
