.credit-agreement {
    padding:30px 0;
    &__item {
        font-weight: 300;
        margin:20px 0;
        &--true {
            list-style-type: none;
            font-weight: bold;
            padding-left:25px;
            position: relative;
            left:-26px;
            background-repeat: no-repeat;
            background-position: left top;
            background-size: 20px;
            background-image: url('../images/icon-tick.svg');
        }
    }
}