$page-footer__background-color:             transparent !default;
$page-footer__link-color:                   $color-primary !default;

.page-footer {
    border-top:solid 1px #ccc;
    background-color: $page-footer__background-color;
    margin-top:40px;
    padding:55px 16px;
    &__wrapper {
        padding:0 10px;
        max-width:1100px;
        margin:auto;
        display:table;
        width:100%;
        @include font-size(12px);
    }
    &__section {
        display:block;
        width:100;
        @include breakpoint(600px) {
            display:table-cell;
            width:50%;
            padding:0 20px;
            vertical-align: top;
        }
    }
    &__copyright {
        margin-top:0;
        @include font-size(14px);
    }
    &__list {
        @include font-size(13px);
    }
    &__list-divider {
        display:inline-block;
    }
    &__legal-text {
        color:#9f9e9e;
        font-weight: 300;
        line-height: 20px;
    }
    &__link {
        color: $page-footer__link-color;
        &:hover {
            text-decoration: none;
        }
    }
}

.footer-docs {
    @include font-size(13px);
    &__heading {
        margin-top:0;
        @include font-size(14px);
    }
    &__link {
        color:$page-footer__link-color;
        &:hover {
            text-decoration: none;
        }
    }
}