.named-drivers {
    &__person {
        display:inline-block;
        text-align: center;
        padding:0 10px;
        @include breakpoint(500px) {
            padding:0 20px;
        }
    }
    &__person-name {
        margin-bottom:10px;
    }
}