$customer-profile__name-color: $color-primary !default;

.customer-profile {
    margin:20px 0 50px 0;
    &__initials-wrapper {
        height: 120px;
        margin: auto;
        padding: 1rem;
        border-width:7px;
        transition: width 0.8s ease-in-out, opacity 0.8s linear;
        width:0;
        opacity:0;
    }
    &__initials {
        @include font-size(44px);
        line-height: 1.3;
        opacity:0;
        transition: opacity 0.8s 0.5s ease-in-out;
    }
    &__name {
        color: $customer-profile__name-color;
        text-align: center;
        font-weight:600;
        @include font-size(13px);
        margin-top:15px;
    }
}