$centered-main-heading__heading-color:              $color-primary !default;
$centered-main-heading__divider-background-color:   $color-primary !default;

.centered-main-heading{
    margin-top: 20px;
    text-align: center;
    &__image {
        width: 100px;
        margin: auto;
    }
    &__heading {
        margin: 0;
        color: $centered-main-heading__heading-color;
        @include font-size(24px);
        @include breakpoint(750px) {
            @include font-size(45px);
        }
    }
    &__heading-text {
        &--standard {
            font-weight: normal;
        }
    }
    &__text {
        @include font-size(16px);
        @include breakpoint(750px) {
            margin: 10px 0 40px 0;
        }
    }
    &__divider {
        width: 260px;
        height: 1px;
        background-color: $centered-main-heading__divider-background-color;
        margin: 40px auto 10px auto;
    }
}