.schedule-bar {
    display:block;
    width:100%;
    @include breakpoint(700px) {
        display: table;
        margin: 0;
        padding: 0 50px;
    }
    &__section {
        position:relative;
        display:block;
        height:100px;
        width:100%;
        @include breakpoint(700px) {
            width:25%;
            display:table-cell;
        }
        &--first {
            @include breakpoint(700px) {
                width:11%;
            }
        }
        &--second {
            @include breakpoint(700px) {
                width:11%;
            }
        }
        &--third {
            height:200px;
            @include breakpoint(700px) {
                height:100px;
            }
        }
        &.active {
            .schedule-bar__disc {
                border-color:$color-primary;
                box-shadow:0 0 5px 2px $color-primary;
                &--last {
                    border-color:$color-grey;
                }
            }
        }
        &.complete {
            border-color: $color-primary;
            .schedule-bar__disc {
                border-color:$color-primary;
                box-shadow:0 0 5px 2px $color-primary;
                &--last {
                    border-color:$color-primary;
                    box-shadow:0 0 5px 2px $color-primary;
                }
            }
            .schedule-bar__line {
                height:100px;
                @include breakpoint(700px) {
                    width:100%;
                    height:4px;
                }
            }
        }
        &.partial {
            .schedule-bar__line {
                background-color:$color-primary;
                height:50px;
                @include breakpoint(700px) {
                    width:50%;
                    height:7px;
                }
            }
        }
    }
    &__disc {
        border:solid 4px $color-grey;
        background-color:#fff;
        position: absolute;
        left:0;
        top:-7px;
        height:17px;
        width:17px;
        border-radius:50%;
        box-shadow:0 0 5px 2px $color-grey;
        &--last {
            top:99%;
            @include breakpoint(700px) {
                left:100%;
                top:-7px;
            }
        }
    }
    &__line {
        position:absolute;
        background-color:$color-primary;
        top:0;
        width: 4px;
        left: 6px;
        @include breakpoint(700px) {
            top:0;
            width:0%;
            height:4px
        }
        &--base {
            position:absolute;
            background-color:$color-grey;
            height:100%;
            width: 4px;
            left: 6px;
            @include breakpoint(700px) {
                top:0;
                width:100%;
                height:4px;
            }
        }
    }
    &__message {
        display:none;
        @include breakpoint(700px) {
            position: absolute;
            top: -57px;
            @include font-size(13px);
            width: 200px;
            color: #fff;
            background-color: $color-primary;
            text-align: center;
            padding: 5px;
            border-radius: 5px;
            left: -96px;
            display:block;
        }
        &:before {
            content: "";
            position: absolute;
            bottom: -3px;
            border: solid 10px $color-primary;
            transform: rotate(45deg);
            left: 92px;
            z-index: -1;
        }
    }
    &__sub-message {
        @include font-size(15px);
        position: absolute;
        width:300px;
        margin:0;
        left: 30px;
        top: -5px;
        @include breakpoint(700px) {
            position: relative;
            width:200px;
            left:-100px;
            height:100px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom:0;
        }
        &--first {
            @include breakpoint(700px) {
                text-align:left;
                left:0;
                }
            }
        &--last {
            @include breakpoint(700px) {
                text-align: right;
                left:-185px;
                }
            }
    }
    &__sub-message-label {
        display:block;
        @include font-size(13px);
    }
    &__sub-message-bold {
        @include breakpoint(700px) {
            display:block;
        }
    }
    &__sub-message-normal {
        @include breakpoint(700px) {
            display:block;
        }
    }
    &__line-message {
        @include font-size(15px);
        position: absolute;
        left:20px;
        top:70px;
        width:300px;
        @include breakpoint(700px) {
            position: relative;
            top: -60px;
            width: 250px;
            margin: auto;
            text-align: center;
        }
    }
    &__message-text {
        margin:0;
    }
}