$cover-range__bar-background-color:             $color-primary !default;
$cover-range__bar-border-radius:                10px !default;
$cover-range__disc-background-color:            #fff !default;
$cover-range__disc-border:                      solid 3px $color-primary !default;
$cover-range__disc-box-shadow:                  0 0 5px 2px $color-primary !default;

.cover-range {
    width:100%;
    max-width:800px;
    margin:auto;

    &__bar-wrapper {
        width:100%;
    }
    &__bar {
        position:relative;
        width:100%;
        height:5px;
        background-color: $cover-range__bar-background-color;
        border-radius: $cover-range__bar-border-radius;
    }
    &__disc {
        position:absolute;
        left:0;
        top:-5px;
        height:10px;
        width:10px;
        background-color: $cover-range__disc-background-color;
        border-radius: 50%;
        border:$cover-range__disc-border;
        box-sizing: content-box;
        box-shadow: $cover-range__disc-box-shadow;
    }

    &__date-wrapper {
        width:100%;
        display:table;
    }

    &__date-section {
        display:table-cell;
        width:50%;
        padding:15px 0;
        &--end {
            text-align: right;
        }
    }

    &__date-title {
        text-transform: uppercase;
        @include font-size(10px);
        color:$color-font--light;
        margin:0 0 3px 0; 
    }

    &__date-text {
        margin:0;
        @include font-size(15px);
        font-weight: 600;
        text-transform: uppercase;
    }

    &__button {
        max-width:80px;
        margin:10px 0;
        padding:7px;
    }
}