.fbels {
    @include breakpoint(750px) {
        display:table;
    }
    &__section {
        margin-bottom:50px;
        @include breakpoint(750px) {
            margin-bottom:0;
            display:table-cell;
            width:50%;
            padding:0 10px;
        }
        &--full-width {
            width:100%;
            display: block;
        }
    }
    &__heading {
        @include font-size(20px);
    }
}

.legal-text {
    color:#4A4A4A;
    @include font-size(15px);
}

.ipid-link {
    margin-top:20px;
    padding-right:20px;
    background-image:url('../images/icon-new-window.svg');
    background-repeat: no-repeat;
    background-position:right top; //right 5px??
    background-size: 15px;
    cursor: pointer;

}