$policy-inclusion-dimension:                100px !default;
$policy-inclusion-dimension-large:          150px !default;

.policy-inclusion {
    display:inline-block;
    text-align:center;
    margin:18px 6px;
    vertical-align:top;
    cursor: pointer;
    @include breakpoint(400px) {
        margin:18px 10px;
    }
    &__container {
        padding: 0;
        display:flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        @include breakpoint(500px) {
            display:block;
        }
    }
    &__image-wrapper {
        background-color:$color-grey--lighter;
        padding:10px;
        border-radius:50%;
        height:$policy-inclusion-dimension;
        width:$policy-inclusion-dimension;
        display:flex;
        justify-content: center;
        align-items: center;
        margin:auto;
        border: solid 2px transparent;
        &:hover {
            border-color:$color-primary;
        }
        @include breakpoint(580px) {
            height:$policy-inclusion-dimension-large;
            width:$policy-inclusion-dimension-large;
        }
    }
    &__image {
        width:60px;
        @include breakpoint(580px) {
            width:80px;
        }
    }
    &__heading {
        @include font-size(16px);
        font-weight: normal;
        width:$policy-inclusion-dimension;
        margin:11px 0 0 0;
        color:$color-primary;
        @include breakpoint(580px) {
            width:$policy-inclusion-dimension-large;
        }
    }
}