.review-overview {
    width:100%;
    @include breakpoint(820px) {
        display:table;
    }
    &__section {
        vertical-align: top;
        padding:20px 0;
        @include breakpoint(820px) {
            display:table-cell;
            width:50%;
            padding:0 20px;
            vertical-align: middle;
        }
        &:nth-of-type(1) {
            border-bottom:solid 1px #D8D8D8;
            @include breakpoint(820px) {
                border-bottom:none;
                border-right: solid 1px #D8D8D8;
            }
        }
    }
    &__cover-wrapper {
        width:100%;
        display:table;
    }
    &__cover-section {
        width:100%;
        display:table-cell;
        width:50%;
        &--right {
            text-align:right;
        }
    }
    &__heading {
        margin:0;
    }

    &__heading-text {
        @include font-size(32px);
        line-height: 1.6;
        color:$color-primary;
        &--secondary {
            @include font-size(18px);
        }
    }
    &__heading-sub-wrapper{
        font-weight: normal;
        @include font-size(18px);
        @include breakpoint(820px) {
            display: block;
        }
    }

    &__address {
        padding-left:25px;
        background-image:url('../images/icon-house.svg');
        background-repeat: no-repeat;
        background-position: left center;
    }

    &__address-text {
        @include font-size(13px);
    }

    &__address-link {
        @include font-size(13px);
        font-weight: 600;
    }
    
    &__heading-link {
        font-weight: 600;
    }

    &__cover-section {
        @include font-size(13px);
    }

    &__cover-heading {
        margin:0 0 10px 0;
        font-weight: 300;
    }

    &__cover-text {
        margin: 0 0 10px 0;
        font-weight: bold;
    }

    &__section-wrapper {
        width:100%;
        text-align: center;
        padding:20px 0;
        @include breakpoint(450px) {
            width: 100%;
            margin: auto;
            max-width: 450px;
        }
        @include breakpoint(820px) {
            display:table;
        }
    }

    &__person {
        display:inline-block;
        text-align:center;
        padding:0 15px;
        vertical-align: middle;
        @include breakpoint(820px) {
            display:table-cell;
        }
    }
    &__person-disc {
        height:90px;
        width:90px;
    }
    &__person-role {
        color:#858585;
        @include font-size(12px);
        font-weight: normal;
        margin-bottom:5px;
    }
    &__person-name {
        color:#4A4A4A;
        @include font-size(13px);
    }
    &__person-link {
        font-weight: bold;
        @include font-size(12px);
    }


    &__ncd-section {
        text-align:center;;
        padding:0 20px;
        display: block;
        margin-top: 30px;
        color:$color-primary;
        @include breakpoint(500px) {
            display: inline-block;
            vertical-align: middle;
            margin-top:0;
        }
        @include breakpoint(820px) {
            display:table-cell;
        }
    }
    &__ncd-heading {
        @include font-size(13px);
        font-weight: 600;
        margin:0;
    }
    &__ncd-years {
        @include font-size(28px);
        margin:0;
    }
    &__ncd-link {
        font-weight: bold;
        @include font-size(13px);
    }
}

.review-details {
    &__text {
        @include font-size(20px);
    }
}