$legal-module__heading--main-color:                 $color-primary !default;

.legal-modules {
    display: block;
    width: 100%;
    @include breakpoint(700px) {
        display: table;
    }
    &__column {
        display :block;
        width: 100%;
        @include breakpoint(700px) {
            display: table-cell;
            width: 50%;
        }
    }
    &__module {
        padding: 30px 20px 10px 20px;
    }
    &__image {
        width: 60px;
        @include breakpoint(700px) {
            width: auto;
            width: 80px;
        }
    }
    &__heading {
        &--main {
            @include font-size(20px);
            margin-bottom:22px;
            margin-top:15px;
            color: $legal-module__heading--main-color;
            @include breakpoint(500px) {
                @include font-size(24px);;
            }
        }
        &--secondary {
            @include font-size(15px);
            margin-bottom:10px;
            @include breakpoint(500px) {
                @include font-size(20px);
            }
        }

    }
    &__text {
        @include font-size(13px);
        font-weight: 300;
        @include breakpoint(500px) {
            @include font-size(16px);
            line-height: 29px;
        }
        &--emphasised {
            font-weight: 600;
        }
    }
    &__text-line {
        display:block;
    }
    &__list {
        display:flex;
        flex-wrap: wrap;
        width:100%;
        list-style-type: none;
        padding:0;
    }
    &__item {
        width: 100%;
        padding: 3px 0;
        @include font-size(13px);
        flex: 1 1 50%;
        font-weight: 300;
        @include breakpoint(500px) {
            @include font-size(16px);
        }
    }
    &__divider {
        margin: 30px 0 0 0;
        background-color: $color-grey--light;
        width: 100%;
        height: 1px;
    }
}