.page-heading {
    margin:30px 0;
    &__heading {
        color: $color-primary;
        font-weight: 600;
        @include font-size(40px);
    }
    &__heading-main-text {
        display:block;
    }
    &__heading-sub-text {
        display:block;
        font-weight: normal;
    }
    &__text {
        line-height: 1.9;
    }
    &__image {
        width:150px;
    }
}