.ncd-source {
    position:relative;
    padding-top: 170px;
    @include breakpoint(600px) {
        padding-top:80px;
    }
    &__label {
        position:absolute;
        top:0;
        width:170px;
        padding:10px 0;
        @include breakpoint(600px) {
            left:0;
        }
        &--prev-vehicle {
            top: 55px;
            @include breakpoint(600px) {
                left:180px;
                top:0;
            }
        }
        &--company-vehicle {
            top: 110px;
            @include breakpoint(600px) {
                left:360px;
                top:0;
            }
        }
    }
    &__action-box {
        display: none;
    }
}

.ncd-source__radio:checked {
    + .ncd-source__label {
        + .ncd-source__action-box {
            display:block;
        }
    }
}

.direct-debit-text {
    margin: 20px 0;
    &__image {
        width:100px;
    }
    &__text {
        color: #9B9B9B;
        @include font-size(13px);
    }
    &__link {
        padding-right: 20px;
        background-repeat: no-repeat;
        background-position: right 5px;
        background-image: url(../../..//images/icon-new-window.svg);
        background-size: 15px;
    }
}