.legal-footer {
    position:fixed;
    bottom:0;
    width:100%;
    border-top:solid 1px #ccc;
    display:block;
    background-color:#fff;
    &__wrapper {
        max-width: 1100px;
        margin: auto;
        @include breakpoint(700px) {
            display:table;
            width:100%;
        }
    }
    &__section {
        display:block;
        width:100%;
        @include breakpoint(700px) {
            display:table-cell;
            width:50%;
            vertical-align: middle;
        }
        &--links {
            display:none;
            @include breakpoint(700px) {
                display:table-cell;
            }
        }
    }
    &__image {
        width:35px;
        vertical-align: middle;
    }
}