$page-message__heading-color:                   $color-primary !default;
$page-message__divider-background-color:        $color-primary !default;

.page-message {
    text-align:center;
    &__heading {
        color: $page-message__heading-color;
        margin:5px 0;
        @include font-size(40px);
    }
    &__text {
        margin:10px 0 45px 0;
        @include font-size(20px);
    }
    &__divider {
        width:170px;
        height:1px;
        background-color: $page-message__divider-background-color;
        margin:30px auto;
    }
    &__security-image {
        margin:30px 0;
    }
}