

.date-picker {
    width:100%;
    @include breakpoint(600px){
        display:table;
    }
    &__section {
        @include breakpoint(600px){
            display:table-cell;
            padding:0 10px;
            vertical-align: top;
        }
        &--actions {
            text-align: center;
            @include breakpoint(600px){
                width:40%;
            } 
        }
    }

    &__year-heading {
        display:none;
        margin:0 0 6px 0;
        color: $color-primary;
        @include breakpoint(600px){
            display: block;
            @include font-size(50px);
            font-weight: 600;
        }
    }

    &__sub-text {
        color:#4A4A4A;
        font-weight: 300;
        @include font-size(13px);
    }


    &__action-box {
        padding-top:30px;
        @include breakpoint(600px){
            padding-top:125px;
        }
    }

    &__action-box-heading {
        display:none;
        @include breakpoint(600px){
            display:block;
            @include font-size(24px);
            margin-bottom:0;
        }
    }
    &__selected-date-wrapper {
        display:none;
        color:$color-primary;
        @include breakpoint(600px){
            display:block;
            @include font-size(35px);
            margin:0;
        }
    }
    &__selected-day {
        @include font-size(180px);
        display:block;
        margin:0;
        line-height: 1;
        font-weight: 600;
    }
    &__selected-month {
        text-transform: uppercase;
        margin:0;
        font-weight: 600;
        color:$color-primary;
    }

    &__date-sub-text {
        color: $color-font--light;
        font-weight: 300;
        @include font-size(13px);
        margin:0;
    }

    &__button-sub-wrapper {
        margin:0;
        margin:25px 0;
    }

    &__sub-button {
        @include font-size(11px);
        color: $color-secondary;
        border-color:$color-secondary;
        max-width:45%;
        display:inline-block;
        padding:5px 2px;
        margin:0 3px;
        width:110px;
    }

    &__button-wrapper {
        margin:0 0 25px 0;
    }
    &__button {
        max-width:230px;
    }
    &__cancel-button {
        @include font-size(16px);
    }
}

.calendar-tabs {
    &__label {
        display: none;
        width:100px;
        @include breakpoint(600px){
            display: inline-block;
        }
    }
    &__label-text {
        text-transform: uppercase;
    }
}

.calendar-tab__section {
    display:block;
    @include breakpoint(600px){
        display:none;
    }
}

.calendar-table {
    width:100%;
    margin: 30px 0;
    @include font-size(12px);
    @include breakpoint(600px){
        margin:0;
        @include font-size(15px);
    }
    &__caption {
        display:table-caption;
        font-weight: bold;
        @include font-size(13px);
        margin:10px 0 20px 0;
        position: relative;
        @include breakpoint(600px){
            @include visually-hidden;
        }
    }

    &__header-segment {
        border-bottom:solid 1px #F2F2F2;
        padding:0 0 15px 0;
        font-weight: 300;
        text-transform: uppercase;
        color:$color-primary;
        @include font-size(13px);
    }

    &__caption-text {
        background-color: #fff;
        display: inline-block;
        margin:0;
        padding:5px 10px;
        &:after {
            content:"";
            width:100%;
            height:1px;
            background-color: #efefef;
            z-index: -1;
            position: absolute;
            top:14px;
            left:0;
        }
    }
    &__body-segment {
        width: calc(100% / 7);
        text-align:center;
        color:$color-font--light;
        font-weight: 300;
        user-select: none;
        padding:0;
        position: relative;
        @include breakpoint(600px){
            padding:10px;
        }
        &--active {
            font-weight: 600;
            color:$color-font;
            cursor: pointer;
            &:hover {
                .calendar-table__date-text {
                    font-weight: bold;
                    color:#fff;
                    background-color: $color-primary;
                    transition:background-color 0.1s ease-in-out;
                }
            }
            &.selected {
                .calendar-table__date-text {
                    font-weight: bold;
                    color:#fff;
                    background-color: $color-primary;
                    transition:background-color 0.1s ease-in-out;
                }
            }
            &:focus {
                outline:none;
                .calendar-table__date-text {
                    outline:none;
                    font-weight: bold;
                    color:#fff;
                    background-color: $color-primary;
                    transition:background-color 0.1s ease-in-out;
                }
            }
        }
    }
    &__date-text {
        line-height: 31px;
        margin:0;
        height:30px;
        width:30px;
        text-align: center;
        margin:auto;
        transition:background-color 0.1s ease-in-out;
        border-radius:100px;
        @include font-size(16px);
    }
}