$about-brand-carousel__text-color:              $color-primary !default;

.about-brand {
    &__text {
        text-align: center;
        max-width:950px;
        margin:auto;
        padding:20px 10px;
        font-weight: 300;
        color: $about-brand-carousel__text-color;
        @include font-size(20px);
        @include breakpoint(400px){
            @include font-size(24px);
            padding: 20px 0;
        }
    }
    &__standard-text {
        font-weight: 300;
    }
}