$spinner__ring-dimension:        130px !default;
$spinner__ring-thickness:        7px !default;
$spinner__ring-border-color:      $color-primary !default;
$spinner__heading-color:          $color-primary !default;


.spinner{
    padding:10px 0;
    margin:30px auto;
    text-align: center;
    &__ring {
        background-color: transparent;
        opacity: .9;
        border-radius: 100%;
        margin: 0 auto;
        position: relative;
        border: $spinner__ring-thickness solid $spinner__ring-border-color;
        border-left: $spinner__ring-thickness solid transparent;
        width: $spinner__ring-dimension;
        height: $spinner__ring-dimension;
        animation: spin 1.5s infinite linear;
    }
    &__heading {
        @include font-size(40px);
        margin:40px 0 0 0;
        color:$spinner__heading-color;
    }
    &__text {
        @include font-size(26px);
        margin:5px 0;
    }
    &__divider {
        width:260px;
        height:1px;
        background-color:$color-primary;
        margin:40px auto 10px auto;
    }
}
  
          
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);};
}