.today-payment {

    &__heading {
        font-weight: 300;
        @include font-size(16px);
    }

    &__label {
        width:300px;
        margin:10px;
        vertical-align: top;
    }
    &__input{
        &:checked {
            + .today-payment__label {
                color:#fff;
                &--card {
                    background-image: url('../images/icon-credit-card.svg');
                }
                &--acc {
                    background-image: url('../images/icon-direct-debit.svg');
                }
            }
            + .payment-card {
                background-image: url('../images/icon-visa-white.svg'); 
            }
            + .new-card {
                .new-card__plus {
                    fill:#fff;
                }
            }
        }
    }
    &__section {
        max-width:800px;
        padding:20px 0;
    }
}

.payment-card {
    user-select:none;
    width:250px;
    border:solid 1px #ccc;
    border-radius:5px;
    text-align:left;
    padding:20px;
    background-image: url('../images/icon-visa.svg');
    background-repeat: no-repeat;
    background-position: 95% 94%;
    color:$color-primary;
    &:hover {
        background-image: url('../images/icon-visa-white.svg'); 
    }
    &__section {
        margin:10px 0;
    }
    &__text {
        @include font-size(7px);
        display:block;
        color:$color-font--light;
    }
    &__card-number {
        margin:0;
    }
    &__card-number-segment {
        vertical-align: middle;
    }
    &__sub-section {
        display:inline-block;
        margin:0 5px;
        &:first-child {
            margin-left:0;
        }
    }
}

.new-card {
    user-select: none;
    width:250px;
    border:solid 1px #ccc;
    border-radius:5px;
    padding: 35px 20px;
    color:$color-primary;
    &:hover {
        .new-card__plus {
            fill:#fff;
        }
    }
}