.contact-preferences {
    &__heading {
        @include font-size(23px);
        color:$color-primary;
    }
    &__text {
        @include font-size(20px);
    }
}

.contact-tiles {
    &__input {
        &:checked {
            + .contact-tiles__tile {
                background-color: $color-green;
                border-color:$color-green;
                .contact-tiles__text {
                    color:#fff;
                }
            }
        }
    }
    &__tile {
        width:110px;
        height: 110px;
        margin:5px;
        border-radius:5px;
        vertical-align: top;
        border:solid 1px $color-grey;
        cursor:pointer;
        @include breakpoint(400px) {
            width:150px;
            height: 140px;
        }
        &:hover {
            border-color:$color-primary;
            background-color:$color-primary;
            color:#fff;
            .contact-tiles__text {
                color:#fff;
            }
        }
    }
    &__tile-wrapper {
        height: 100%;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align:center;
        flex-direction: column;
        padding:10px;
    }
    &__image {
        width:41px;
    }
    &__text {
        margin:10px 0 0 0;
        color:$color-primary;
        font-weight: 300;
    }
}