.docs-delivery {
    display:table;
    width:100%;
    max-width:500px;
    &__section {
        display:table-cell;
        width:50%;
        position:relative;
    }
    &__label {
        padding-top:150px;
        display:block;
        cursor: pointer;
        background-position: center 10px;
        background-repeat: no-repeat;
        background-size:120px;
        &--post {
            background-image: url('../images/icon-docs-post.svg');    
        }
        &--online {
            background-image: url('../images/icon-docs-online.svg');    
            background-size:120px;
        }
    }
    &__radio {
        width:35px;
        height:35px;
        display:block;
        margin:auto;
        position: absolute;
        top:100px;
        left: calc(50% - 17px);
    }
    &__title {
        display:block;
        text-align:center;
        color:#ccc;
        user-select:none;
    }
    &__text {
        display:block;
        text-align:center; 
        color:#ccc;
        user-select:none;
    }
}

.docs-delivery__radio:checked {
    + .docs-delivery__label--post {
        background-image: url('../images/icon-docs-eco.svg');
        background-position-y: -14px;
    }
    + .docs-delivery__label {
        .docs-delivery__title {
            color:#000;
        }
        .docs-delivery__text {
            color:#000;
        }
    }
}