.page-header {
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left:0;
    z-index:100;
    &__wrapper {
        position:relative;
        padding:15px 10px;
        max-width:1100px;
        margin:auto;
        @include breakpoint(700px) {
            display:table;
            width:100%;
            padding:15px 20px;
        }
    }
    
    &__section {
        margin:auto;
        @include breakpoint(700px) {
            display:table-cell;
            vertical-align: middle;
        }
        &--left {
            @include breakpoint(700px) {
                width:20%;
            }
        }
        &--center {
            max-width:300px;
            @include breakpoint(700px) {
                width:60%;
            }
        }
        &--right {
            position: absolute;
            right:5%;
            top:0;
            @include font-size(14px);
            @include breakpoint(700px) {
                @include font-size(16px);
                width:20%;
                position: static;
            }
        }
    }
    &__logo {
        display:block;
    }
    &__back {
        height:26px;
        width:26px;
        position:absolute;
        left:20px;
        top:32px;
        background-image: url('../images/circle-arrow.png');
        background-position:center;
        background-repeat:no-repeat;
        cursor: pointer;
    }
}


.panel-header {
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    height:70px;
    padding:0;
    
    &__wrapper {
        position:relative;
        padding:15px 10px;
        max-width:1100px;
        margin:auto;
        @include breakpoint(700px) {
            display:table;
            width:100%;
            padding:15px 35px;
        }
    }
    
    &__section {
        margin:auto;
        @include breakpoint(700px) {
            display:table-cell;
            vertical-align: middle;
        }
        &--left {
            @include breakpoint(700px) {
                width:50%;
            }
        }
        &--right {
            position: absolute;
            right:5%;
            top:10px;
            @include font-size(14px);
        }
    }
    &__logo {
        display:block;
        margin-left:30px;
    }
    &__back {
        height:26px;
        width:26px;
        position:absolute;
        left:25px;
        top:22px;
        background-image: url('../images/circle-arrow.png');
        background-position:center;
        background-repeat:no-repeat;
        cursor: pointer;
    }
}