.slide-panel {
    position:fixed;
    width:100%;
    top:0;
    right:-100%;
    background-color:#fff;
    transition:right 0.2s ease-in-out;
    bottom:0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    z-index:200;
    @include breakpoint(500px) {
    }
    &.active {
        transition:right 0.3s ease-in-out;
        right:0;
    }

}