.grc {
    width:100%;
    text-align:center;
    border-bottom:solid 1px #4a4a4a;
    display:block;
    user-select:none;
    border-collapse: collapse;
    @include breakpoint(500px) {
        display:table;
    }
    &__header-cell {
        text-align:center;
        border-right:solid 1px #eee;
        border-bottom:solid 1px #4a4a4a;
        width:50%;
        padding: 0 10px;
        vertical-align: bottom;
        @include breakpoint(500px) {
            text-align:left;
            width:25%; 
            &:last-child {
                border-right:none;
            }
        }
        &.active {
            background-color:$color-primary--lighter;
            border-right:solid 2px $color-green;
            border-left:solid 2px $color-green;
        }
        &[data-grc] {
            cursor: pointer;
        }
    }

    &__cover-title {
        @include font-size(16px);
        color:$color-primary;
        vertical-align: top;
        &--no-cover {
            text-align: center;
        }
    }

    &__price-wrapper {
        margin:0;
        color:$color-primary;
    }

    &__price-pounds {
        @include font-size(40px);
        position: relative;
    }
    &__price-pence {
        @include font-size(20px);
        font-weight: 300;
    }
    &__price-sub-text {
        font-weight: normal;
        margin:0;
        display:block;
        @include font-size(16px);
    }

    &__annual-text {
        font-weight: normal;
        color:$color-font--light;
        margin:5px 0 25px 0;
        @include font-size(13px);
        display:block;
    }

    &__button {
        width:100%;
        padding:15px 0;
        @include font-size(13px);
        font-weight: bold;
        &.active {
            background-color:$color-green;
            border-color: $color-green;
            @include breakpoint(750px) {
                padding-left:23px;
                background-size:20px;
                background-image: url('../images/icon-tick-white.svg');
                background-repeat: no-repeat;
                background-position: 8% center;
                text-align:center;
            }
            &:hover {
                color:#fff;
                background-color:$color-primary;
            }
        }
        @include breakpoint(750px) {
            padding:10px;
            @include font-size(13px);
        }
    }

    &__header-image-wrapper {
        height:100px;
        text-align:center;
    }

    &__header-image {
        margin:40px auto 0 auto;
        display:block;
        position: relative;
        top:5px;
        &--grc {
            margin-top:96px;
            width:60px;
            height:60px;
        }
        &--grc-plus {
            width:80px;
            height:80px;
            margin-top: 77px;
            top:7px;
        }
        &--no-cover {
            width:110px;
            top:35px;
        }
    }

    &__label-cell {
        padding: 20px 5px;
        text-align: left;
        border-bottom:solid 1px #eee;
    }
    &__cover-cell {
        padding: 30px 10px;
        border-left:solid 1px #eee;
        border-right:solid 1px transparent;
        border-bottom:solid 1px #eee;
        &.active {
            background-color:$color-primary--lighter;
            border-right:solid 2px $color-green;
            border-left:solid 2px $color-green;
        }
        &[data-grc] {
            cursor: pointer;
        }
        &--full-height {
            border-left:solid 2px $color-grey--lighter;
        }
        &:nth-of-type(3) {
            border-left-color:transparent;
            @include breakpoint(500px) {
                border-left-color:$color-grey--lighter;
            }
            &.active {
                border-left:solid 2px $color-green;
            }
        }
    }

    &__without-cover {
        display:none;
        @include breakpoint(500px) {
            display: table-cell;
            overflow:hidden;
        }
    }
    &__first-col {
        display:none;
        @include breakpoint(500px) {
            display: table-cell;
        }
    }
}

.icon-grc__car-wrapper {
    transition: transform 0.8s cubic-bezier(0.61, -0.1, 0.54, 1.19);
    transform:translateY(54%);
}