.monthly-radio {
    position:relative;
    &__section {
        max-width:800px;
    }
    &__label {
        background-repeat: no-repeat;
        background-position: 5px center;
        color:$color-primary;
        background-size: 50px;
        &--acc {
            background-image: url('../images/icon-direct-debit-black.svg');    
            background-position-x: 12px;
            .tabs__label-text {
                padding-left:60px;
            }
            &:hover {
                background-image: url('../images/icon-direct-debit.svg');
            }
        }
        &--card {
            background-image: url('../images/icon-credit-card-black.svg');    
            .tabs__label-text {
                padding-left:40px;
            }
            &:hover {
                background-image: url('../images/icon-credit-card.svg');
            }
        }
    }
    .tabs__input:checked + .monthly-radio__label {
        &--acc {
            background-image: url('../images/icon-direct-debit.svg');
        }
        &--card {
            background-image: url('../images/icon-credit-card.svg');
        }
    }
}

.monthly-radio__radio:checked {
    + .monthly-radio__label {
        &--card {
            background-image: url('../images/icon-credit-card.svg');
        }
        &--acc {
            background-image: url('../images/icon-direct-debit.svg');
        }
        + .monthly-radio__action-box {
            display:block;
        }
    }
}

.direct-debit-text {
    margin: 20px 0;
    &__image {
        width:100px;
    }
    &__text {
        color: #9B9B9B;
        @include font-size(13px);
    }
    &__link {
        padding-right: 20px;
        background-repeat: no-repeat;
        background-position: right 5px;
        background-image: url(../../..//images/icon-new-window.svg);
        background-size: 15px;
    }
}