.excess-bar {
    padding-bottom:30px;
    position:relative;
    margin:60px 0;
    &__wrapper {
        display:table;
        width:100%;
    }
    &__section {
        display:table-cell;
        vertical-align: top;
        &--graph {
            width:100px;
            @include breakpoint(750px) {
                width:400px;
                position: relative;
            }
        }
    }
    &__excess-segment {
       padding-left:0;
        margin:20px 0;
        position:relative;
        @include breakpoint(500px) {
            padding-left:20%;
        }
        &--total {
            padding-top:15px;
            .excess-bar__heading {
                width:200px;
                border-top:solid 1px $color-primary;
                padding-top:15px;
            }
            @include breakpoint(750px) {
                position: absolute;
                left: 0;
                width: 230px;
                top: 0;
                height: 90%;
                padding:93px 0 0 0;
                border-top: solid 1px $color-tertiary;
                border-bottom: solid 1px $color-primary;
                .excess-bar {
                    &__value {
                        @include font-size(40px);
                    }
                    &__heading {
                        border:none;
                        width:auto;
                        padding:0;
                    }
                }
            }
        }
        &--compulsory {
            margin-top: 50px;
            @include breakpoint(750px) {
                margin-top: 100px;
                margin-bottom: 0;
            }
        }
    }
    &__bar {
        @include breakpoint(750px) {
            float: left;
            left:270px;
        }
    }
    &__heading {
        margin:0;
        @include font-size(16px);
        @include breakpoint(500px) {
            @include font-size(18px);
        }
        &:before {
            width:10px;
            content:"";
            position: absolute;
            border-bottom:solid 1px #ccc;
            top:11px;
            left:-15px;
            @include breakpoint(500px) {
                width:17%;
                left:-5px;
                top:16px;
            }
        }
        &--voluntary {
            color:$color-tertiary;
            &:before {
                border-color:$color-tertiary;
            }
        }
        &--compulsory {
            color:$color-primary;
            &:before {
                border-color:$color-primary;
            }
        }
        &--total {
            &:before {
                display:none;
            }
        }
    }
    &__value {
        display:inline-block;
        font-weight: bold;
        vertical-align: middle;
        margin: 0 10px 0 0;
        @include font-size(28px);
        @include breakpoint(500px) {
            @include font-size(34px);
        }
        &--voluntary {
            color:$color-tertiary;
        }
        &--compulsory {
            color:$color-primary;
        }
    }

    &__button-wrapper {
        display:block;
        margin:5px 0;
        position: relative;
        @include breakpoint(500px) {
            display:inline-block;
            margin:10px auto;
            vertical-align: middle;
        }
    }

    &__button {
        margin:0;
        text-align:center;
        padding:7px;
    }

    &__edit-modal {
        left: -81px;
        padding:10px;
        @include breakpoint(500px) {
            left:calc(50% - 175px);
        }
    }
}