// VARIABLES
// top level > broadstrokes > specifics

$colors: (
    primary:    #336699,
    secondary:  #336699,
    tertiary:   #336699,
) !default;

$z-indexes: (
    "outdated-browser",
    "modal",
    "site-header",
    "page-wrapper",
    "site-footer"
) !default;

$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
) !default;




// Paths
// $brand-folder-name:                                     'digital' !default;
// $image-path-base:                                       '../images/' !default;
// $font-path-base:                                        '../fonts/' !default;
// $base-resource-path:                                    '../resources' !default;

// Fonts
$font-size-base:                                        16px !default;
$root-font-size:                                        16px !default;
$font-family-base:                                      sans-serif !default;

// Spacing
$spacing-unit:                                          1rem !default;


// Core Colours
$color-primary:                                         #444444 !default;
$color-accent:                                          #000000 !default;
$color-secondary:                                       #999999 !default;
$color-tertiary:                                        #9c9c9c !default;
$color-foreground:                                      #444444 !default;
$color-background:                                      #ffffff !default;
$color-font:                                            #4A4A4A !default;
$color-font--light:                                     #9c9c9c !default;
$color-primary--light:                                  #dfe9ff !default;
$color-primary--lighter:                                #F4F3F7 !default;
$color-secondary--light:                                #E9F5FC !default;
$color-primary--dark:                                   #000000 !default;

// Status Colours
$color-green:                                           #4F9F31 !default;
$color-red:                                             #F56565 !default;
$color-yellow:                                          #FFD209 !default;

// Greyscale
$color-grey:                                            #DADADA !default;
$color-grey--dark:                                      #1D1E20 !default;
$color-grey--light:                                     #E5E5E5 !default;
$color-grey--lighter:                                   #F4F4F4 !default;


// Headings
$headings-font-family:                                  $font-family-base !default;
$headings-font-weight:                                  bold !default;
$headings-line-height:                                  1.25 !default;
$headings-color:                                        $color-primary !default;
$headings-margin-bottom:                                $spacing-unit !default;


$font-size-h1:                                          $font-size-base * 2.0 !default;
$font-size-h2:                                          $font-size-base * 1.6 !default;
$font-size-h3:                                          $font-size-base * 1.4 !default;
$font-size-h4:                                          $font-size-base * 1.2 !default;
$font-size-h5:                                          $font-size-base * 1.1 !default;
$font-size-h6:                                          $font-size-base * 1.0 !default;

// Body
$body-bg-base:                                          $color-background !default;
$font-family-base:                                      sans-serif !default;
$font-color-base:                                       $color-font !default;
$font-size-base:                                        16px !default; 
$line-height-base:                                      1.5 !default; // font-size * 1.5

// Rounded Corners
$border-radius-base:                                    6px !default;
$border-color-base:                                     black !default;

// Link(s)
$link-color:                                            $color-primary !default;
$link-decoration:                                       underline !default;
$link-hover-color:                                      $link-color;
$link-hover-decoration:                                 none !default;

// Table(s)
$table-bg:                                              transparent !default;
$table-cell-padding:                                    .25rem !default;
$table-caption-enabled:                                 true !default;
$table-caption-location:                                top !default;
