{% extends "layout-base.nunjucks" %}
{% block content %}

<!--Page Header-->
    <header class="page-header">
        <div class="page-header__wrapper">
            <div class="page-header__section page-header__section--left">
                <img class="page-header__logo" src="images/brand-logo.png" alt="Brand Logo"/>
            </div>
            <div class="page-header__section page-header__section--center">
            </div>
            <div class="page-header__section page-header__section--right">
            </div>
        </div>

    </header>
    
<!--Page Header End-->

<main>
    <div class="page-section--outer">
        <div class="page-section--inner">
            <div class="centered-main-heading">
                <h1 class="centered-main-heading__heading">
                    <span class="centered-main-heading__heading-text centered-main-heading__heading-text--bold">
                        Card authentication
                    </span>
                </h1>
                <p class="centered-main-heading__text">
                    Visa card authentication for your payment of &pound;{{ policy1.premium.initialPremium }}
                </p>
                <div class="centered-main-heading__divider"></div>
            </div>
        </div>
    </div>

    <div class="page-section--outer">
        <div class="page-section--inner">

            <div class="card-authentication">
                <p class="card-authentication__text">
                    Your card issuer’s page will be displayed below if your issuer is participating in Verified By Visa, if your issuer is not participating you will be automatically directed through to our processing payment screen. If your card issuer’s page is displayed below and you have not already signed up for Verified By Visa, your issuer may ask you to do so before you proceed with the purchase. Please follow the instructions below:
                </p>
                <p class="card-authentication__link-text-wrapper">
                    <span class="card-authentication__link-pre-text">If this page does not display below, please</span>
                    <a class="link card-authentication__link" href="#0">click here to refresh this page</a>
                </p>
            </div>

            <!--placeholder for VBV or MSC iFrame-->
            <div style="width:100%; height:500px; border:solid 1px #ccc; text-align:center;line-height:480px; background-color:#eee;margin:40px 0;">
                VBV/MSC iFrame placeholder
            </div>
            <!--placeholder for VBV or MSC iFrame end-->
            

            <div class="button-container">
                <a class="button button--text button--large button--back button--left" href="demands-questions.html">Back</a>
            </div>


            <div class="confidence-box">
                <h4 class="confidence-box__heading">Buy with confidence</h4>
                <p class="confidence-box__text">
                    This process is part of new measures being introduced by the industry to increase levels of security for internet transactions. If you have any questions regarding this process please contact your card issuer.
                </p>
                <img class="confidence-box__image" src="images/logo-comodo.png" alt="Comodo Security Logo"/>
            </div>
        </div>
    </div>




</main>



<footer class="page-footer">
    <div class="page-footer__wrapper">
        <div class="page-footer__section">
            <p class="page-footer__copyright">&copy; 2018 Budget Insurance Services. All rights reserved.</p>
            <ul class="page-footer__list list--horizontal">
                <li class="list__item">
                    <a class="page-footer__link" href="#0">Privacy policy</a>
                </li>
                <div class="page-footer__list-divider">/</div>
                <li class="list__item">
                    <a class="page-footer__link" href="#0">Security</a>
                </li>
            </ul>
        </div>

        <div class="page-footer__section">
            
        </div>
    </div>
</footer>



{% endblock %}