<div class='accordion'>

    <div class="accordion__section">
        <h5 class="accordion__heading-wrapper">
            <button class="accordion__heading-button" aria-expanded="true">
                Overview
            </button>
        </h5>
        <div id="Overview-Accordion-Section" class="accordion__body-wrapper start-open">
            {% include "partials/review/review-overview-table.nunjucks" %}
        </div>
    </div>

    <div class="accordion__section">
        <h5 class="accordion__heading-wrapper">
            <button class="accordion__heading-button" aria-expanded="false">
                Vehicle
            </button>
        </h5>
        <div class="accordion__body-wrapper">
            <div class="accordion__body-content">
                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            Vehicle description
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.vehicles[0].year }} {{ policy1.vehicles[0].make }} {{ policy1.vehicles[0].model }} {{ policy1.vehicles[0].trim }} {{ policy1.vehicles[0].capacity }}, {{ policy1.vehicles[0].fuel }}, {{ policy1.vehicles[0].doors }}, {{ policy1.vehicles[0].transmission }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>Alarm/immobiliser</span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            Factory Fitted Thatcham Approved Alarm/Immobiliser
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>Tracking device</span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            No
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            Right hand drive (UK Standard)
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            Yes
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>Has the vehicle been changed in any way from the manufacturers standard specification, for example changes to the body work or performance?</span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            No
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>Estimated annual mileage</span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.vehicles[0].mileage }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            Vehicle already purchased
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            Yes
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>Date of purchase</span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.vehicles[0].purchaseDate.month.slice(0,3) }} {{ policy1.vehicles[0].purchaseDate.year }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            Overnight parking
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.vehicles[0].parking }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>Address</span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.address.number }} {{ policy1.address.street }}, {{ policy1.address.town }} {{ policy1.address.city }} {{ policy1.address.postcode }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>Main driver</span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.vehicles[0].mainDriver }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            Registered keeper
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.vehicles[0].keeper }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>Use of vehicle</span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.vehicles[0].use }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>No Claims Discount (NCD/NCB)</span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.ncd.years }} years
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion__section">
        <h5 class="accordion__heading-wrapper">
            <button class="accordion__heading-button" aria-expanded="false">
                Drivers (2)
            </button>
        </h5>
        <div class="accordion__body-wrapper">
            <div class="accordion__body-content">

                <h3 class="form-row__heading">{{ policy1.vehicles[0].drivers[0].firstName }} {{ policy1.vehicles[0].drivers[0].surname }}</h3>
                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            Title
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.vehicles[0].drivers[0].title }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            First name
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.vehicles[0].drivers[0].firstName }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            Surname
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.vehicles[0].drivers[0].surname }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            Date of birth
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.vehicles[0].drivers[0].dob.day }} {{ policy1.vehicles[0].drivers[0].dob.month }} {{ policy1.vehicles[0].drivers[0].dob.year }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>Address</span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.address.number }} {{ policy1.address.street }}, {{ policy1.address.town }} {{ policy1.address.city }} {{ policy1.address.postcode }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            Relationship status
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.vehicles[0].drivers[0].relationshipStatus }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            Daytime / Mobile telephone
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.vehicles[0].drivers[0].telephone.mobile }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            Home telephone
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.vehicles[0].drivers[0].telephone.home }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>Email address</span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.vehicles[0].drivers[0].email }}
                        </p>
                        <p class="form-row__static-hint-text">
                            We will email your quote details so you can review these in your own time and retrieve your quote
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>Employment status</span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.vehicles[0].drivers[0].employment.status }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>Occupation</span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.vehicles[0].drivers[0].employment.occupation }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>Part-time employment (less than 16 hours a week)</span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            No
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>Do you have a medical condition that requires the DVLA to be notified?</span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            No
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            Home owner
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {% if  policy1.vehicles[0].drivers[0].homeOwner  %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>Type of licence</span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.vehicles[0].drivers[0].licence.type }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>Licence held since</span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.vehicles[0].drivers[0].licence.heldSince.month }} {{ policy1.vehicles[0].drivers[0].licence.heldSince.year }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>UK resident for over 5 years</span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {% if  policy1.vehicles[0].drivers[0].UKResident  %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>
                                Use of any other vehicles
                            </span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {% if  policy1.vehicles[0].drivers[0].useOtherVehicles  %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>
                                Have you ever had motor insurance declined, voided, cancelled or had special terms imposed in the last 5 years?
                            </span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            No
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>
                                Any motor accidents, losses or incidents regardless of blame even if no claim was made in the last 5 years?
                            </span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            No
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>
                                Any motoring convictions, driving licence endorsements, fixed penalties, driving disqualifications or been banned from driving in the last 5 years?
                            </span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            No
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>
                                Any non-motoring criminal convictions?
                            </span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            No
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>
            
                <div class="named-drivers">
                    <h3 class="form-row__heading">Named Drivers</h3>
                    <div class="named-drivers__person">
                        <div class="initials-disc">
                            <div class="initials-disc__disc named-drivers__person-disc">
                                <p class="initials-disc__inner-text named-drivers__person-disc-text">{{ policy1.vehicles[0].drivers[1].firstName | first }}{{ policy1.vehicles[0].drivers[1].surname | first }}</p>
                            </div>
                            <p class="initials-disc__under-text named-drivers__person-name">{{ policy1.vehicles[0].drivers[1].firstName }} {{ policy1.vehicles[0].drivers[1].surname }}</p>
                            <a class="initials-disc__edit-button" href="#0">
                                <img class="initials-disc__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>

    <div class="accordion__section">
        <h5 class="accordion__heading-wrapper">
            <button class="accordion__heading-button" aria-expanded="false">
                Cover
            </button>
        </h5>
        <div class="accordion__body-wrapper">
             <div class="accordion__body-content">

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            Start date
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.policyTerm.startDate.day }} {{ policy1.policyTerm.startDate.month }} {{ policy1.policyTerm.startDate.year }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>
                                Type of cover
                            </span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            {{ policy1.coverLevel }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            <span>
                                Voluntary excess
                            </span>
                            <a class="form-row__label-help-icon" href="#0">i</a>
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            &pound;{{ policy1.excess.voluntary }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            Total excess
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <P class="form-row__static-data">
                            &pound;{{ policy1.excess.total }}
                        </p>
                    </div>
                    <div class="form-row__static-section form-row__static-section--edit">
                        <a class="form-row__edit-button" href="#0">
                            <img class="form-row__edit-image" src="images/icon-edit.svg" alt="edit button"/>
                        </a>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            Motor Legal Protection
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <img class="form-row__static-image form-row__static-image--tick" src="images/icon-tick.svg" alt="Motor Legal Protection Included"/>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            Guaranteed Replacement Car
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <img class="form-row__static-image form-row__static-image--tick" src="images/icon-tick.svg" alt="Guaranteed Replacement Car Included"/>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            Keycare
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <img class="form-row__static-image form-row__static-image--cross" src="images/icon-cross.svg" alt="Keycare Not Included"/>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            Personal Accident Cover
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <img class="form-row__static-image form-row__static-image--cross" src="images/icon-cross.svg" alt="Personal Accident Cover Not Included"/>
                    </div>
                </div>

                <div class="form-row form-row--static">
                    <div class="form-row__static-section form-row__static-section--label">
                        <p class="form-row__static-label">
                            RAC Breakdown
                        </p>
                    </div>
                    <div class="form-row__static-section">
                        <img class="form-row__static-image form-row__static-image--cross" src="images/icon-cross.svg" alt="RAC Breakdown Not Included"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</div>