@import '../01-settings/settings';
@import '../02-tools/tools';

.carousel {
    width:100%;
    position:relative;
    overflow:hidden;
    &__wrapper {
        width:300%;
        white-space: nowrap;
        overflow:hidden;
        padding:15px 0;
        @include breakpoint(900px) {
            white-space: normal;
            width:100%;
        }   
    }
    &__arrow {
        position:absolute;
        top:30px;
        background-repeat: no-repeat;
        background-position:center;
        background-size: 15px;
        height:150px;
        width:30px;
        cursor: pointer;
        @include breakpoint(900px) {
            display:none;
        }
        &--left {
            left:10px;
            background-image:url('../images/icon-arrow-left.svg');
        }
        &--right {
            right:10px;
            background-image:url('../images/icon-arrow-right.svg');
        }
    }
    &__item {
        display:inline-block;
        text-align:center;
        width:33%;
        padding:0 35px;
        vertical-align: top;
    } 
    &__text {
        padding:10px;
        @include font-size(16px);
        line-height: 1.7;
        white-space: normal;
        margin-bottom: 0;
        font-weight: 300;
    }
    &__heading {
        @include font-size(16px);
        white-space: normal;
    }
    &__link {
        font-weight: bold;
    }
}