@import '../01-settings/settings';
@import '../02-tools/tools';

.page-section {
    &__heading {
        @include font-size(30px);
        color:$color-primary;
        margin:0;
        font-weight: 600;
    }

    &__sub-heading {
        @include font-size(18px);
        color:$color-primary;
        margin:0;
    }

    &__standard-heading-text {
        font-weight: 300;
    }
    &__text {
        margin-bottom:25px;
    }
    &--inner {
        padding:50px 15px;
        margin:auto;
        max-width:1100px;
        &.centered {
            text-align: center;
        }
        &.narrow {
            max-width:700px;
        }
    }
    &--outer {
        &.grey {
            background-color: #FCFCFC;
        }
    }
}