﻿@import '../01-settings/settings';
@import '../02-tools/tools';

.inline-modal {
    position: absolute;
    top:45px;
    width:270px;
    z-index:100;
    background-color:#fff;
    border:solid 1px $color-grey;
    border-radius:5px;
    display:none;
    user-select: none;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2784313725490196);
    @include breakpoint(500px) {
        width:355px;
    }
    &.active {
        display:block;
    }
    &:before {
        content: "";
        transform: rotate(45deg);
        border-top: solid 1px $color-grey;
        border-left: solid 1px $color-grey;
        background-color: #fff;
        height: 30px;
        width: 30PX;
        display: block;
        position: absolute;
        top: -17px;
        left: calc(50% - 17px);
        border-radius:4px 0 0 0;
    }
    &--dual-option {
        padding:0;
        .inline-modal {
            &__option {
                text-align:left;
                border-bottom:solid 1px $color-grey;
                @include font-size(15px);
                font-weight: 300;
                padding:20px 10px;
                cursor: pointer;
                width:100%;
                display:block;
                &:last-child {
                    border-bottom:none;
                }
                &:hover {
                    text-decoration: underline;
                }
                &.selected {
                    padding-right:30px;
                    background-image: url('../images/icon-tick.svg');
                    background-repeat: no-repeat;
                    background-position: 95% center;
                    font-weight: 600;
                }
            }
        }
    }
}