@import '../01-settings/settings';
@import '../02-tools/tools';

.button {
    padding:5px 10px;
    text-align:center;
    text-decoration: none;
    border-radius:25px;
    width:100px;
    display:block;
    @include font-size(12px);
    border:solid 1px transparent;
    margin:10px auto;
    max-width:335px;
    cursor:pointer;
    user-select: none;
    
    &-container {
        padding:10px 0;
        text-align: center;
        @include clearfix;
    }
    
    &--primary {
        color:#fff;
        background-color:$color-secondary;
        &:hover {
            color: $color-secondary;
            background-color: #fff;
            border-color: $color-secondary;
        }
    }
    &--primary-inverted {
        color:$color-primary;
        background-color:#fff;
        &:hover {
            color:#fff;
            background-color:$color-primary;
            border-color: #fff;
        }
    }


    &--hollow {
        border-color:$color-secondary;
        background-color:transparent;
        color:$color-secondary;
        line-height: 1;
        padding: 10px;
        &:hover {
            color:#fff;
            background-color:$color-secondary;
        }
    }
    &--hollow-inverted {
        border-color:#fff;
        background-color:transparent;
        color:#fff;
        &:hover {
            color:$color-primary;
            background-color:#fff;
        }
    }

    &--back {
        width:100%;
        color:$color-secondary;
        @include breakpoint(700px) {
            max-width:100px;
        }
    }
    
    &--text {
        color:$color-secondary;
        font-weight: bold;
        text-decoration: underline;
        @include font-size(18px);
        border-radius:0;
        padding:0;
        width:auto;
        display:inline-block;
        text-align: left;
        &:hover {
            text-decoration: none;
        }
    }

    &--radio {
        color:$color-primary;
        border:solid 1px $color-grey;
        border-radius:5px;
        display:inline-block;
        width:auto;
        min-width:70px;
        padding:15px 5px;
        margin:10px 5px;
        &:hover {
            color:#fff;
            background-color: $color-primary;
            border-color:$color-primary;
        }
        &.selected {
            color:#fff;
            background-color: $color-green;
            border-color:$color-green;
        }
    }

    &--large {
        width:100%;
        padding:15px 10px;
        @include font-size(16px);
    }
    &--left {
        @include breakpoint(700px) {
            float:left;
        }
    }
    &--right {
        @include breakpoint(700px) {
            float:right;
        }
    }
    &--center {
        margin:auto;
    }
    &--disabled {
        pointer-events: none;
        cursor: default;
        text-decoration:none;
        opacity:0.5;
    }
}


.selection-pills {
    padding:10px;
    &__pill {
        display:inline-block;
        width:auto;
        max-width:1000px;
        padding:25px;
        margin:10px;
        border-radius: 50px;
        @include font-size(18px);
        &.selected {
            background-color: $color-primary;
            color:#fff;
            border-color:transparent;
        }
    }
}

.choice-pills {
    padding:10px;
    text-align:left;
    &__pill {
        display:inline-block;
        width:auto;
        max-width:1000px;
        padding:15px;
        margin:10px;
        &.selected {
            background-color: $color-primary;
            color:#fff;
            border-color:transparent;
        }
    }
}

.button-text-section {
    text-align:left;
    margin:20px auto;
    display: inline-block;
    text-align:center;
    @include breakpoint(700px){
        float:left;
        padding-top:25px;
        text-align: left;
        margin:0;
        display:block;
    }
    &--center {
        margin:auto;
        text-align:center;
        float:none;
    }
}