@import '../01-settings/settings';
@import '../02-tools/tools';

$form-input-border-color:               #DADADA !default;
$form-input--focus-border-color:        $color-primary !default;
$form-input-box-shadow:                 inset 0 2.5px 2px 0 rgba(0,0,0,0.25) !default;
$form-input-color:                      #979797 !default;

.form {
    margin:30px 0;
}

.form-row {
    width:100%;
    padding:25px 0 15px 0;
    position:relative;
    &--multi-input {
        padding:0;
        @include breakpoint(500px) {
            display:table;
            padding:25px 0 15px 0;
        }
    }
    &--static {
        border-bottom: solid 1px #D8D8D8;
        @include breakpoint(600px) {
            display:table;
        }
    }
    &__input-wrapper {
        @include breakpoint(500px) {
            display:table-cell;
        }
        &--half {
            @include breakpoint(500px) {
                width:50%;
                &:first-child {
                    padding-right: 20px;
                }

            }
        }
    }
    &__field-set {
        border:none;
        padding:0;
    }
    &__legend {
        margin-bottom:20px;
        @include font-size(18px);
        &--hidden {
            @include visually-hidden;
        }
        &--bold {
            font-weight: bold;
            @include font-size(18px);
            color:#4A4A4A
        }
    }
    &__label {
        display:block;
        @include font-size(17px);
        font-weight: 300;
        width:100%;
        margin-bottom:12px;
        &--pill {
            position:static;
            padding:10px 20px;
            margin: 10px;
            border:solid 1px $color-secondary;
            text-align:center;
            display:inline-block;
            border-radius:25px;
            font-weight: 600;
            color:$color-secondary;
            @include font-size(18px);
            width:auto;
            cursor: pointer;
            &:hover {
                color:#fff;
                background-color: $color-secondary;
            }
        }
        &--radio-pill {
            min-width:160px;
            padding:15px 10px;
            border-radius: 10px;
            border:solid 1px $color-grey;
            color:$color-primary;
            font-weight: 300;
            user-select: none;
            &:hover {
                background-color: $color-primary;
                color:#fff;
            }
        }
    }
    &__input {
        display:block;
        width:100%;
        padding:15px;
        border: 1px solid $form-input-border-color;	
        border-radius: 4px;	
        background-color: #FFFFFF;	
        box-shadow: $form-input-box-shadow;
        color: $form-input-color;		
        font-size: 16px;	
        font-weight: 300;	
        line-height: 19px;
        margin-bottom:10px;
        &:focus {
            border-color:$form-input--focus-border-color;
            + .form-row__label {
                text-decoration:underline;
            }
        }
        &:hover {
            border-color:$form-input--focus-border-color;
        }
        &.visa {
            background-image:url('../images/icon-visa.svg');
            background-repeat: no-repeat;
            background-position: 97% center;
            background-size: 40px;
        }
        &--full-width {
            max-width:4000px;
        }
        &--hidden {
            @include visually-hidden;
        }
        &:checked + .form-row__label--pill {
            color:#fff;
            background-color: $color-green;
        }
        &[type="radio"] {
            box-shadow: none;
        }
        &--checkbox {
            @include visually-hidden;
            + .form-row__label {
                display:inline-block;
                width:auto;
                border:solid 1px $color-grey;
                padding:10px 50px 10px 20px;
                border-radius:100px;
                font-weight: 600;
                color: $color-primary;
                background-image:url('../images/icon-plus-round.svg');
                background-repeat: no-repeat;
                background-position: 97% center;
                cursor: pointer;
                &:hover {
                    color:#fff;
                    background-color: $color-primary;
                    border-color:$color-primary;
                    background-image:url('../images/icon-plus-round-white.svg');
                }
            }

            &:focus {
                + .form-row__label {
                    text-decoration:underline;
                }
            }

            &:checked {
                + .form-row__label {
                    background-image: url('../images/icon-minus-round-white.svg');
                    background-color: $color-green;
                    border-color: $color-green;
                    color:#fff;
                    &:hover {
                        background-image: url('../images/icon-minus-round-white.svg');
                        background-color: $color-primary;
                        border-color:$color-primary;
                    }
                }
                &:focus {
                    + .form-row__label {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__select {
        display:block;
        width:100%;
        max-width:600px;
        @include font-size(20px);
        &--dual {
            width:44%;
            max-width:200px;
            display:inline-block;
            margin-right:10px;
        }
    }
    &__hint-text {
        @include font-size(14px);
        color: #9B9B9B;
    }

    &__static-section {
        @include breakpoint(600px) {
            display:table-cell;
            @include font-size(15px);
            padding-right:30px;
        }
        &--label {
            @include breakpoint(600px) {
                width:45%;
            }
        }
        &--edit {
            width:50px;
            @include breakpoint(600px) {
                text-align: right;
            }
        }
    }

    &__label-help-icon {
        border:solid 2px $color-primary;
        color:$color-primary;
        border-radius:20px;
        height:15px;
        width:15px;
        display:inline-block;
        text-align:center;
        text-decoration: none;
        @include font-size(12px);
        line-height: 1;
        font-weight: bold;
        box-shadow: 0 0 0 transparent;
        &:hover {
            color:#fff;
            background-color: $color-primary;
        }
    }
    &__heading {
        color: #4A4A4A;
        @include font-size(18px);
    }

    &__static-hint-text {
        @include font-size(13px);
    }
    &__text {
        margin:0;   
    }

    &__validation-text {
        color: $color-red;
        margin:0 0 10px 0;
        display:none;
    }
}


// EXAMPLE FORM VALIDATION
.example-form {
    &__row {
        &.error {

            .form-row__label {
                color:$color-red;
                font-weight: bold;
                padding-left:30px;
                background-image: url('../images/icon-error.png');
                background-position: 0 2px;
                background-repeat:no-repeat;
                background-size:23px;
                &--radio-pill {
                    padding:15px 10px;
                    background-image: none;
                    border:solid 2px $color-red;
                }
            }

            .form-row__legend {
                color:$color-red;
                font-weight: bold;
                padding-left:30px;
                background-image: url('../images/icon-error.png');
                background-position: 0 2px;
                background-repeat:no-repeat;
                background-size:23px;
            }

            .form-row__input {
                border:solid 2px $color-red;
            }
            .form-row__validation-text {
                display: block;
            }
        }
    }
}