@import '../01-settings/settings';
@import '../02-tools/tools';


$accordion__heading-button-color:               $color-primary !default;

.accordion {
    margin:20px 0;
    &__section {
        &:last-child {
            border-bottom: solid 1px #ccc;
        }
    }
    &__heading-wrapper {
        margin:0;
        position: relative;
        overflow: hidden;
    }
    &__heading-button {
        all:inherit;
        background: none;
        border: 0;
        color: $accordion__heading-button-color;
        font: inherit;
        line-height: normal;
        overflow: visible;
        -webkit-appearance: button;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
        width:100%;
        cursor:pointer;
        border-top: solid 1px #ccc;
        padding: 30px 50px 30px 20px;
        text-align:left;
        @include font-size(20px);
        
        &:after {
            content:'';
            position: absolute;
            width:20px;
            height:80%;
            box-sizing: border-box;
            background-image:url('../images/icon-arrow-down.svg');
            background-repeat: no-repeat;
            background-position:center;
            top:10%;
            right:20px;
            transition: transform 0.1s ease-in-out;
        }
        &[aria-expanded="true"] {
            background-color:#f9f9f9;
            &:after {
                transform: rotate(180deg);
            }
        }
    }
    &__body-wrapper {
        padding:10px 0 20px 0;
    }
    &__body-content {
        padding:20px 10px;
        @include breakpoint(500px) {
            padding:20px;
        }
    }
    &__text {
        line-height:1.9;
        padding-bottom:20px;
    }
}