@import '../01-settings/settings';
@import '../02-tools/tools';

.list {
    &__item {
        margin:10px 0;
    }
}

.list--plain {
    list-style-type: none;
    padding-left:0;
}


.list--horizontal {
    padding:0;
    .list {
        &__item {
            display:inline-block;
        }
    }
}

.list--vertical {   
    .list__item {
        display:block;
    }
}

.list--link {
    padding-left:0;
 
    .list {
        &__item {
            list-style-type:none;
            padding-left:20px;
            background-image:url('../images/icon-new-window.svg');
            background-repeat: no-repeat;
            background-position:0 3px;
            background-size: 13px;
            cursor: pointer;
        }
    }
}


.list--tick{
    .list {
        @include clearfix;
        padding-left:20px;
        &__item {
            list-style-type: none;
            float: left;
            padding-left:33px;
            background-image: url('../images/icon-tick-circle.svg');
            background-position:0 4px;
            background-repeat:no-repeat;
            background-size: 30px;
            margin:10px 0;
            width: 100%;
        }
        &__link {
            display:inline-block;
            border-bottom:dashed 1px #ccc;
            padding:0;
            @include font-size(20px);
            font-weight:lighter;
            cursor:pointer;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.list--icon {
    list-style-type:none;
    .list__item {
        display:inline-block;
        padding:0 7px;
    }
}

.list--fbels {
    padding-left:0;
    margin-bottom: 0;
    .list__item {
        list-style-type:none;
        padding-left:40px;
        background-position: 0 0;
        background-repeat:no-repeat;
        margin:30px 0;
        line-height: 1.6;
    }
}

.list--fbels-cover {
    .list__item {
        background-image: url('../images/icon-tick.svg');

    }
}

.list--fbels-remember {
    .list__item {
        background-image: url('../images/icon-cross.svg');
        &.info {
            background-image: url('../images/icon-fbels-info.svg');
        }
        &.plain {
            background-image: none;
            padding-left:0;
        }
    }
}

.cover-link-list__list {
    width:100%;
}