@import '../01-settings/settings';
@import '../02-tools/tools';

$initials-disc__disc-box-shadow-color--inner:       $color-primary--dark !default;
$initials-disc__disc-box-shadow-color--outer:       $color-primary--lighter !default;
$initials-disc__disc-background-color:              $color-primary !default;
$initials-disc__disc-border-width:                  5px !default;
$initials-disc__disc-border-color:                  $color-primary--light !default;



.initials-disc {
    &__disc {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-radius: 50%;
        // border: solid $initials-disc__disc-border-width $initials-disc__disc-border-color;
        background-color: $initials-disc__disc-background-color;
        text-align: center;
        height: 90px;
        width: 90px;
        margin: auto;
        // box-shadow: inset 0 0 15px 7px $initials-disc__disc-box-shadow-color--inner, 0 0 0 7px $initials-disc__disc-box-shadow-color--outer;
    }
    &__inner-text{
        color:#fff;
        @include font-size(34px);
        margin:0;
        line-height: 1.2;
        font-weight: 600;
        text-align:center;
    }
    &__under-text{
        color: $color-primary;
        text-transform: uppercase;
        font-weight: bold;
        @include font-size(12px);
        margin:0;
        text-align: center;
    }
}