@import '../01-settings/settings';
@import '../02-tools/tools';

%heading {
    margin-bottom: $headings-margin-bottom;
    font-family:   $headings-font-family;
    font-weight:   $headings-font-weight;
    line-height:   $headings-line-height;
    color:         $headings-color;
}

.h1 { 
    @extend %heading; 
    @include font-size($font-size-h1);
}
.h2 { 
    @extend %heading; 
    @include font-size($font-size-h2);
}
.h3 { 
    @extend %heading; 
    @include font-size($font-size-h3);
}
.h4 { 
    @extend %heading; 
    @include font-size($font-size-h4);
}
.h5 { 
    @extend %heading; 
    @include font-size($font-size-h5);
}
.h6 { 
    @extend %heading; 
    @include font-size($font-size-h6);
}