@import '../01-settings/settings';
@import '../02-tools/tools';

.bar-graph {
    &--secondary {
        .bar-graph__bar {
            background-color: $color-tertiary;
            &:before {
                background-color: $color-tertiary;
            }
            &:after {
                background-color: $color-tertiary;
            }
        }
    }
    &__bar-wrapper {
        position: relative;
        z-index: 0;
        padding: 0;
        height: 300px;
        margin-top:40px;
        left:-10px;
        width:100px;
    }
    &__bar {
        position: absolute;
        bottom: 0;
        z-index: 99;
        height: 0;
        width: 40px;
        margin: 0 40px;
        background-color: $color-primary;
        transform: skew(0deg, -27deg);
        transition: height 0.6s cubic-bezier(0.53, 0.44, 0.65, 1.12);
        &:before {
            content: "";
            position: absolute;
            left: -40px;
            bottom:20px;
            height: 100%;
            width: 40px;
            background-color: $color-primary;
            opacity:0.55;
            transform: skewY(45deg);
        }
        &:after {
            content: "";
            position: absolute;
            top: -40px;
            left: -20px;
            width: 40px;
            height: 40px;
            background-color: $color-primary;
            opacity:0.25;
            transform: skewX(45deg);
        }
        &--two {
            left:auto;
            height:50%;
        }
    }
    &__shadow {
        width: 52px;
        height: 21px;
        position: absolute;
        bottom: -21px;
        right: -12px;
        transform: skew(-63deg, 203deg);
        background: linear-gradient(to right, #f3f3f3 0%,#fff 100%);
    }   
}


.bar-graph--dual-color {
    .bar-graph {
        &__bar {
           &--one {
                opacity:0.7;
                background-color:$color-tertiary;
                height:100%;
                &:before {
                    background-color: $color-tertiary;
                    opacity:0.7;
                }
                &:after {
                    background-color: $color-tertiary;
                    opacity:0.4;
                }
           }
           &--two {
            &:before {
                opacity:0.7;
            }
           }
        }
    }
}