@import '../01-settings/settings';
@import '../02-tools/tools';


$link-color:                                $color-secondary !default;
$link-border-color:                         $color-secondary !default;

.link {
    font-weight: bold;
    color:$link-color;
    text-decoration: none;
    border-bottom:solid 1px $link-border-color;
    &:hover {
        border-bottom: none;
    }
    &--secondary {
        font-weight: normal;
        color:$color-primary;
        text-decoration: none;
        border-bottom:solid 1px $color-primary;
    }
}