@import '../01-settings/settings';
@import '../02-tools/tools';

.tabs {
    width:100%;
    margin-bottom:35px;
    &__input {
        @include visually-hidden;
        &:checked {
            + .tabs__label {
                .tabs__label-text{
                    color:$color-primary;
                }
                .tabs__label-bar {
                    width:100%;
                    transition:width 0.2s ease-in-out;
                }
                &--pill {
                    background-color:$color-green;
                    border-color: $color-green;
                    .tabs__label-text{
                        color:#fff;
                    }
                    .tabs__label-bar {
                        width:0;
                        transition:width 0.2s ease-in-out;
                    }
                }
            }
        }
        &:focus {
            + .tabs__label {
                font-weight: 600;
                &--pill {
                    .tabs__label-bar {
                        width:15%;
                        transition:width 0.2s ease-in-out;
                        background-color: #ccc;
                    }
                }
            }
        }
        &:hover {
            + .tabs__label {
                font-weight: 600;
            }
        }
    }
    &__label {
        padding: 0 0 10px 0;
        margin:0 10px 30px 10px;
        font-weight: 300;
        text-align: center;
        color:#9B9B9B;
        text-align:center;
        @include font-size(20px);
        display: inline-block;
        cursor: pointer;
        @include breakpoint(600px) {
            @include font-size(28px);
        }
        &--pill {
            @include font-size(18px);
            font-weight: 600;
            border: 1px solid #CCCCCC;
            border-radius: 5px;
            padding:15px 20px;
            transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
            margin:10px 5px ;
            &:hover {
                background-color:$color-primary;
                transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
                color:#fff;
            }
            .tabs__label-text {
                margin:0;
            }
        }
    }
    &__label-text {
        margin:0 0 10px 0;
    }
    &__label-bar {
        width:0;
        height:2px;
        background-color:$color-primary;
        display:block;
        margin:auto;
        transition:width 0.2s ease-in-out;
    }
    &__section {
        display:none;
    }
}


.tabs__input--1:checked ~ .tabs__section--1,
.tabs__input--2:checked ~ .tabs__section--2,
.tabs__input--3:checked ~ .tabs__section--3,
.tabs__input--4:checked ~ .tabs__section--4,
.tabs__input--5:checked ~ .tabs__section--5
{
  display: block;
}